@charset "utf-8";

@font-face {
    font-family: "MADE";
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/MADE-Light.otf') format("opentype");
}


@font-face {
    font-family: "MADE";
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/MADE-Regular.otf') format("opentype");
}

@font-face {
    font-family: "MADE";
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/MADE-Medium.otf') format("opentype");
}

@font-face {
    font-family: "MADE";
    font-weight: 600;
    font-style: normal;
    src: url('../fonts/MADE-Bold.otf') format("opentype");
}

@font-face {
    font-family: "MADE";
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/MADE-Black.otf') format("opentype");
}

$max-width: 980px;
$stoj-brun: #f9cc6c;
$stoj-pink: #FCD8E3;
$stoj-blue: #2E3EFF;
$stoj-red: #ff5151;
$stoj-green: #32D5AF;
$stoj-turt: #69ffc8;
$stoj-yellow: #f1d339;
$deep-blue: #0F1419;
$deep-grey: #101219;
$almost-black: #090A0D;
$family-sans-serif: "MADE", sans-serif;
$eb: "EB Garamond", serif;
$break-desk: 1025px;
$break-tablet: 768px;
$break-mobile: 414px;

@import "../../../Private/Styles/scss/General";
@import "../../../Private/Styles/scss/Animations";
@import "../../../Private/Styles/scss/Lazy";
@import "../../../Private/Styles/scss/Header";
@import "../../../Private/Styles/scss/Subheader";
@import "../../../Private/Styles/scss/Projects";
@import "../../../Private/Styles/scss/Cursor";
@import "../../../Private/Styles/scss/Slow";
@import "../node_modules/bulma/bulma";
