@charset "utf-8";
@import "../node_modules/bulma/bulma";

$stoj-pink: #E5879F;
$stoj-dark: #101219;
$stoj-red: #E0325F;
$stoj-sand: #EFEDE5;
$break-desk: 1025px;
$break-tablet: 769px;
$break-height: 720px;
$break-mobile: 415px;
$max-width: 1240px;
$transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000) .5s;
$side-pad: 0 1rem;
$family-sans-serif: "Barlow", sans-serif;
$family-secondary: "Barlow Condensed", sans-serif;
$link: $stoj-sand;

@import "../../../Private/Styles/scss/General";
@import "../../../Private/Styles/scss/Cursor";
@import "../../../Private/Styles/scss/Animations";
@import "../../../Private/Styles/scss/Lazy";
@import "../../../Private/Styles/scss/Header";
@import "../../../Private/Styles/scss/Subheader";
@import "../../../Private/Styles/scss/ProjectsLanding";
@import "../../../Private/Styles/scss/Typography";
