@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;1,400;0,700;1,700&family=Barlow:ital,wght@0,300;0,400;1,300;1,400&display=swap');

// Update the sans-serif font family
$stoj-pink: #E5879F;
$stoj-dark: #101219;
$stoj-red: #E0325F;
$stoj-sand: #EFEDE5;
$break-desk: 1024px;
$break-tablet: 768px;
$break-height: 720px;
$break-mobile: 414px;
$clamp: clamp(2.5em, 5vw, 6em);
$max-width: 1080px;
$transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000) .3s;
$family-sans-serif: "Barlow", sans-serif;
$family-secondary: "Barlow Condensed", sans-serif;
$link: $stoj-sand;
$h2-size: 1.5em;

@import "../../../Private/Styles/scss/Footer";
@import "../../../Private/Styles/scss/Headlines";
@import "../../../Private/Styles/scss/Sections";
@import "../../../Private/Styles/scss/Gallery";
@import "../../../Private/Styles/scss/ImagesWithText";
@import "../../../Private/Styles/scss/VideoWithText";
@import "../../../Private/Styles/scss/ImagesContact";
@import "../../../Private/Styles/scss/Buttons";
