@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

// Update the sans-serif font family
$max-width: 980px;
$stoj-pink: #FCD8E3;
$stoj-blue: #2E3EFF;
$stoj-red: #ff4f67;
$stoj-green: #32D5AF;
$stoj-turt: #69ffc8;
$stoj-yellow: #f1d339;
$family-sans-serif: "MADE", sans-serif;
$eb: "EB Garamond", serif;
$almost-black: #090A0D;
$break-desk: 1025px;
$break-tablet: 768px;
$break-mobile: 414px;
$clamp: clamp(3.5em, 5vw, 6em);

@import "../node_modules/bulma/bulma";

@import "../../../Private/Styles/scss/Footer";
@import "../../../Private/Styles/scss/Headlines";
@import "../../../Private/Styles/scss/Sections";
@import "../../../Private/Styles/scss/TemplateOne";
@import "../../../Private/Styles/scss/TemplateTwo";
@import "../../../Private/Styles/scss/TemplateThree";
@import "../../../Private/Styles/scss/TemplateFour";
@import "../../../Private/Styles/scss/Carousel";
@import "../../../Private/Styles/scss/Menu";
@import "../../../Private/Styles/scss/Gallery"
