@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

// Update the sans-serif font family
$family-sans-serif: "MADE", sans-serif;
$eb: "EB Garamond", serif;
$almost-black: #090A0D;

@import "../node_modules/bulma/bulma";

@import "../../../Private/Styles/scss/Footer";
