@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;1,400;0,700;1,700&family=Barlow:ital,wght@0,300;0,400;1,300;1,400&display=swap");
.main-footer {
  margin: 150px 0;
  z-index: 1; }
  .main-footer .contact-footer, .main-footer .teaser-footer, .main-footer .address-footer {
    margin: 0 auto;
    max-width: 540px;
    width: calc(100% - 4rem); }
    @media only screen and (min-width: 768px) {
      .main-footer .contact-footer, .main-footer .teaser-footer, .main-footer .address-footer {
        width: calc(100% - 6rem); } }
  .main-footer .contact-footer {
    margin-bottom: 3rem; }
    .main-footer .contact-footer a {
      color: #EFEDE5;
      font-size: 4.75rem;
      font-weight: 700;
      text-transform: none !important; }
      @media only screen and (min-width: 321px) {
        .main-footer .contact-footer a {
          font-size: 5.75rem; } }
      @media only screen and (min-width: 376px) {
        .main-footer .contact-footer a {
          font-size: 6rem; } }
      @media only screen and (min-width: 768px) {
        .main-footer .contact-footer a {
          font-size: 10rem; } }
      .main-footer .contact-footer a:before {
        height: .075em; }
      .main-footer .contact-footer a:after {
        display: none; }
  .main-footer .teaser-footer {
    margin-bottom: 1rem; }
    .main-footer .teaser-footer p a {
      text-transform: none !important; }
      .main-footer .teaser-footer p a:after {
        display: none; }

.copyright {
  bottom: 6rem;
  color: #EFEDE5;
  font-size: .8em;
  left: 2rem;
  position: absolute;
  transform: translateX(0);
  z-index: 99;
  width: fit-content; }
  @media only screen and (min-width: 768px) {
    .copyright {
      bottom: 2rem;
      font-size: .9em;
      left: 50%;
      transform: translateX(-50%); } }

.section-headline h2 {
  font-size: 2em;
  font-weight: 600;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .section-headline h2 {
      font-size: 4em; } }
  @media only screen and (min-width: 1024px) {
    .section-headline h2 {
      font-size: 6em; } }
  .section-headline h2:after {
    animation-timing-function: ease-out;
    background-color: #101219;
    content: '';
    display: block;
    height: .1em;
    transition: .5s;
    transition-delay: .25s;
    width: 0; }

.magic-line h2:after {
  animation-timing-function: ease-out;
  transition: .5s;
  transition-delay: .25s;
  width: 100%; }

.shout {
  margin: 2.5rem auto 0;
  position: relative;
  width: 100%; }

.shout-inner {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 1rem;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .shout-inner {
      padding: 0 3rem; } }
  @media only screen and (min-width: 1024px) {
    .shout-inner {
      padding: 0 5rem; } }
  .shout-inner h1 {
    font-size: 1.25em;
    font-weight: 400;
    margin-bottom: 1rem; }
    @media only screen and (min-width: 768px) {
      .shout-inner h1 {
        font-size: 1.5em; } }
    @media only screen and (min-width: 1024px) {
      .shout-inner h1 {
        font-size: 1.75em; } }
  .shout-inner h2 {
    font-size: 1.25em;
    font-weight: 400;
    margin-bottom: .5rem; }
    @media only screen and (min-width: 768px) {
      .shout-inner h2 {
        font-size: 1.4em; } }
    @media only screen and (min-width: 1024px) {
      .shout-inner h2 {
        font-size: 1.5em; } }
  .shout-inner .line-link p {
    font-size: 1em; }

.--top-margin {
  margin-top: 7.5rem; }
  @media only screen and (min-width: 768px) {
    .--top-margin {
      margin-top: 8rem; } }
  @media only screen and (min-width: 1024px) {
    .--top-margin {
      margin-top: 12rem; } }

.para {
  margin-bottom: 2rem;
  position: relative; }
  .para p {
    display: inline-block;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.85rem !important;
    font-weight: 700;
    line-height: 1.1 !important; }
    @media only screen and (min-width: 768px) {
      .para p {
        font-size: 2.5em !important; } }
    @media only screen and (min-width: 1024px) {
      .para p {
        font-size: 3.5em !important; } }
    .para p strong {
      display: inline-block;
      position: relative;
      transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s; }
    .para p strong::before {
      background-color: #E0325F;
      bottom: 0;
      display: block;
      content: '';
      left: 0;
      height: .2em;
      position: absolute;
      transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
      width: 0;
      z-index: -1; }

/*.gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: .5rem;
    grid-row-gap: .5rem;
    margin: 0 auto 5rem;
    padding: 10rem 0 0;
    width: 100%;

    @media only screen and (min-width: $break-tablet) {
        column-gap: .75rem;
        grid-row-gap: .75rem;
        margin: 0 0 8rem auto;
        padding: 8rem 0 0;
        width: 86%;
    }

    @media only screen and (min-width: $break-desk) {
        //grid-template-columns: 1fr 1fr 1fr;
        //column-gap: 1.5rem;
        //grid-row-gap: 1.5rem;
        margin: 0 0 10rem auto;
        padding: 10rem 0 0;
    }
}*/
.filter-group {
  left: 0;
  padding-left: 1rem;
  pointer-events: auto;
  position: absolute;
  top: 3rem;
  z-index: 98;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .filter-group {
      top: 9rem; } }
  @media only screen and (min-width: 1024px) {
    .filter-group {
      top: 10rem; } }

.filter-header {
  align-items: center;
  display: flex;
  pointer-events: auto;
  position: absolute;
  top: 3rem;
  z-index: 99; }
  @media only screen and (min-width: 768px) {
    .filter-header {
      left: 2rem;
      top: 9rem;
      z-index: 98; } }
  @media only screen and (min-width: 1024px) {
    .filter-header {
      left: 3rem; } }
  @media only screen and (min-width: 1024px) {
    .filter-header {
      top: 10rem; } }
  .filter-header p {
    color: #EFEDE5;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase; }
    @media only screen and (min-width: 768px) {
      .filter-header p {
        font-size: 1.2rem; } }
  .filter-header img {
    margin-left: .25rem;
    width: 1em; }
    @media only screen and (min-width: 768px) {
      .filter-header img {
        display: none; } }

.filter-body {
  align-items: flex-start;
  background-color: #101219;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  visibility: hidden;
  padding-left: 1rem;
  position: absolute;
  top: -110vh;
  transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
  width: 100%;
  z-index: -1; }
  @media only screen and (min-width: 768px) {
    .filter-body {
      background-color: transparent;
      height: auto;
      left: 2rem;
      top: 2rem;
      padding: 0;
      visibility: visible;
      transition: none; } }
  @media only screen and (min-width: 1024px) {
    .filter-body {
      left: 3rem; } }
  .filter-body button {
    background-color: transparent;
    border: none;
    color: #EFEDE5;
    display: block;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 3em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
    position: relative; }
    @media only screen and (min-width: 768px) {
      .filter-body button {
        font-size: 1.5rem; } }
    .filter-body button:hover {
      color: #E0325F;
      cursor: pointer; }
  .filter-body button:focus {
    outline: 0; }
  .filter-body .active::after {
    background-color: #E0325F;
    bottom: .25rem;
    display: block;
    content: '';
    left: 0;
    height: .5rem;
    position: absolute;
    transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
    width: 100%;
    z-index: -1; }
    @media only screen and (min-width: 768px) {
      .filter-body .active::after {
        bottom: 0; } }
  .filter-body:after {
    width: 0;
    transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s; }

.show-filter {
  visibility: visible;
  top: -3rem;
  transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s; }

.filter-is-showing img {
  transform: rotate(180deg); }

#gallery__filters__message {
  margin-top: 1rem;
  max-width: 85px;
  font-size: .75em; }

.gallery-container {
  columns: 2;
  column-gap: 1rem;
  display: block;
  margin: 0 auto 5rem;
  padding: 9.5rem 0 0;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .gallery-container {
      margin: 0 0 8rem auto;
      padding: 7rem 0 0;
      width: 86%; } }
  @media only screen and (min-width: 1024px) {
    .gallery-container {
      margin: 0 0 10rem auto;
      padding: 9rem 0 0; } }

.gallery-item {
  display: none;
  margin-bottom: .5rem;
  position: relative;
  transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
  visibility: hidden; }
  .gallery-item .gallery-image {
    display: block;
    height: 100%;
    object-fit: cover;
    visibility: hidden; }

.show {
  display: inline-block;
  transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
  visibility: visible; }

.pin-spacer {
  pointer-events: none; }

.images-with-text {
  margin: 5rem auto;
  max-width: 1080px;
  overflow: auto;
  padding: 0 1rem;
  position: relative;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .images-with-text {
      margin: 8rem auto;
      padding: 0 3rem; } }
  @media only screen and (min-width: 1024px) {
    .images-with-text {
      margin: 10rem auto;
      padding: 0 5rem; } }

.big-figure {
  display: block;
  width: 70%; }
  @media only screen and (min-width: 768px) {
    .big-figure {
      display: inline-block;
      float: left;
      width: 50%; } }

.small-figure {
  float: right;
  margin-top: -7.5rem;
  position: relative;
  width: 50%;
  z-index: 1; }
  @media only screen and (min-width: 768px) {
    .small-figure {
      width: 55%;
      margin-top: -10rem; } }
  @media only screen and (min-width: 1024px) {
    .small-figure {
      margin-top: -20rem; } }

.--small-image {
  float: right;
  margin-left: -3rem;
  margin-top: -7.5rem;
  width: 45%; }
  @media only screen and (min-width: 768px) {
    .--small-image {
      float: left;
      margin-left: -3rem;
      margin-top: 0;
      width: 35%; } }
  @media only screen and (min-width: 1024px) {
    .--small-image {
      margin-left: -3rem;
      margin-top: 3rem;
      width: 30%; } }

figcaption {
  font-size: .5em;
  font-weight: 400;
  width: 70%; }
  @media only screen and (min-width: 768px) {
    figcaption {
      font-size: .75em; } }

.images-with-text-inner {
  display: block;
  margin-bottom: 2.5rem; }
  @media only screen and (min-width: 768px) {
    .images-with-text-inner {
      display: inline-block;
      margin-left: 1rem;
      margin-top: 1rem;
      width: calc(50% - 1rem); } }
  @media only screen and (min-width: 1024px) {
    .images-with-text-inner {
      margin-left: 3rem;
      margin-top: 1.5rem;
      max-width: 415px;
      width: calc(50% - 3rem); } }
  .images-with-text-inner .titel {
    margin-bottom: .5rem; }
  .images-with-text-inner .tekst {
    margin-bottom: 1.5rem; }

.--two .big-figure {
  display: inline-block;
  width: 38%;
  float: left; }
  @media only screen and (min-width: 768px) {
    .--two .big-figure {
      width: 50%; } }
  @media only screen and (min-width: 1024px) {
    .--two .big-figure {
      width: 20%; } }

.--two .large-figure {
  display: inline-block;
  width: 60%;
  float: right; }
  @media only screen and (min-width: 768px) {
    .--two .large-figure {
      width: 27%;
      float: left;
      margin-left: .5rem; } }
  @media only screen and (min-width: 1024px) {
    .--two .large-figure {
      width: 40%; } }

@media only screen and (min-width: 1024px) {
  .--two .images-with-text-inner {
    width: calc(39% - 3rem); } }

.--two figcaption {
  width: 100%; }

.video-with-text {
  margin: 5rem auto;
  max-width: 1080px;
  overflow: auto;
  padding: 0 1rem;
  position: relative;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .video-with-text {
      margin: 8rem auto;
      padding: 0 3rem; } }
  @media only screen and (min-width: 1024px) {
    .video-with-text {
      margin: 10rem auto;
      padding: 0 5rem; } }
  .video-with-text .video-frame {
    margin-bottom: .5rem;
    position: relative;
    padding-top: 56.25%; }
    @media only screen and (min-width: 1024px) {
      .video-with-text .video-frame {
        float: right;
        padding-top: 30.25%;
        width: calc(55% - 1rem); } }
  @media only screen and (min-width: 1024px) {
    .video-with-text figcaption {
      float: right;
      width: calc(55% - 1rem); } }

.video-with-text-inner {
  display: block;
  margin-bottom: 2.5rem; }
  @media only screen and (min-width: 768px) {
    .video-with-text-inner {
      display: inline-block;
      margin-top: 1rem;
      width: calc(60% - 1rem); } }
  @media only screen and (min-width: 1024px) {
    .video-with-text-inner {
      margin-top: 1.5rem;
      max-width: 415px;
      width: calc(45% - 3rem); } }
  .video-with-text-inner .titel {
    margin-bottom: .5rem; }
  .video-with-text-inner .tekst {
    margin-bottom: 1.5rem; }

.images-contact {
  margin: 5rem auto;
  max-width: 1080px;
  overflow: auto;
  padding: 0 1rem;
  position: relative;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .images-contact {
      margin: 8rem auto;
      padding: 0 3rem; } }
  @media only screen and (min-width: 1024px) {
    .images-contact {
      margin: 10rem auto;
      padding: 0 5rem; } }

.images-contact-inner {
  display: block;
  margin-bottom: 2.5rem; }
  @media only screen and (min-width: 768px) {
    .images-contact-inner {
      display: inline-block;
      margin-bottom: 1rem;
      margin-top: 1rem;
      width: 100%; } }
  @media only screen and (min-width: 1024px) {
    .images-contact-inner {
      display: block;
      float: right;
      margin-left: 2rem;
      margin-top: 1.5rem;
      max-width: 415px;
      width: calc(42.6% - 3rem); } }
  .images-contact-inner .titel {
    margin-bottom: .5rem; }
  .images-contact-inner .tekst {
    margin-bottom: 1.5rem; }

.medarbejder {
  display: inline-block;
  width: calc(50% - .25rem); }
  @media only screen and (min-width: 768px) {
    .medarbejder {
      vertical-align: top; } }
  @media only screen and (min-width: 1024px) {
    .medarbejder {
      width: calc(33.3% - 3rem); } }

.medarbejder-info {
  margin-top: .5rem;
  max-width: 90%; }
  .medarbejder-info p {
    font-size: 1em !important;
    margin-top: .5rem;
    margin-bottom: .25rem; }
    .medarbejder-info p:last-child {
      margin-top: 0; }

.--venstre {
  margin-right: .5rem; }

.button-group {
  text-align: center; }

.filter-button-group button {
  background-color: white;
  border: 0;
  padding: .25em 1em;
  margin-right: .5em; }
  .filter-button-group button:last-child {
    margin-right: 0; }
  .filter-button-group button:active {
    outline: 0; }

.filter-button-group .is-checked {
  background-color: #101219;
  color: white; }
