.main-footer {
  margin: 150px 0;
  z-index: 1; }
  .main-footer .contact-footer, .main-footer .teaser-footer, .main-footer .address-footer {
    margin: 0 auto;
    max-width: 540px;
    width: calc(100% - 2rem); }
    @media only screen and (min-width: 768px) {
      .main-footer .contact-footer, .main-footer .teaser-footer, .main-footer .address-footer {
        width: calc(100% - 6rem); } }
  .main-footer .contact-footer {
    margin-bottom: 3rem; }
    .main-footer .contact-footer a {
      color: #EFEDE5;
      font-size: 5.25rem;
      font-weight: 700;
      text-transform: none !important; }
      @media only screen and (min-width: 321px) {
        .main-footer .contact-footer a {
          font-size: 6.25rem; } }
      @media only screen and (min-width: 376px) {
        .main-footer .contact-footer a {
          font-size: 7rem; } }
      @media only screen and (min-width: 768px) {
        .main-footer .contact-footer a {
          font-size: 10rem; } }
      .main-footer .contact-footer a:before {
        height: .075em; }
      .main-footer .contact-footer a:after {
        display: none; }
  .main-footer .address-footer p {
    font-family: "Barlow Condensed", sans-serif; }
  .main-footer .teaser-footer {
    margin-bottom: 1rem; }
    .main-footer .teaser-footer p a {
      text-transform: none !important; }
      .main-footer .teaser-footer p a:after {
        display: none; }

.copyright {
  bottom: 6rem;
  color: #EFEDE5;
  font-size: .8em;
  left: 1rem;
  position: absolute;
  transform: translateX(0);
  z-index: 98;
  width: fit-content; }
  @media only screen and (min-width: 768px) {
    .copyright {
      bottom: 2rem;
      font-size: .9em;
      left: 50%;
      transform: translateX(-50%); } }

.section-headline h2 {
  font-size: 2em;
  font-weight: 600;
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .section-headline h2 {
      font-size: 4em; } }
  @media only screen and (min-width: 1025px) {
    .section-headline h2 {
      font-size: 6em; } }
  .section-headline h2:after {
    animation-timing-function: ease-out;
    background-color: #101219;
    content: '';
    display: block;
    height: .1em;
    transition: .5s;
    transition-delay: .25s;
    width: 0; }

.magic-line h2:after {
  animation-timing-function: ease-out;
  transition: .5s;
  transition-delay: .25s;
  width: 100%; }

.shout {
  margin: 2.5rem auto 0;
  position: relative;
  width: 100%; }

.main-section {
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 1rem;
  padding: 0;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .main-section {
      padding: 0 2rem; } }
  @media only screen and (min-width: 1025px) {
    .main-section {
      padding: 0 5rem; } }

.shout-inner {
  margin: 0 auto;
  max-width: 1240px;
  padding: 0 1rem;
  padding: 0;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .shout-inner {
      padding: 0 2rem; } }
  @media only screen and (min-width: 1025px) {
    .shout-inner {
      padding: 0 5rem; } }
  .shout-inner h1 {
    font-size: 1.25em;
    font-weight: 400;
    margin-bottom: .5rem; }
    @media only screen and (min-width: 768px) {
      .shout-inner h1 {
        font-size: 1.5em; } }
    @media only screen and (min-width: 1025px) {
      .shout-inner h1 {
        font-size: 1.75em; } }
  .shout-inner h2 {
    font-size: 1.25em;
    font-weight: 400;
    margin-bottom: .5rem; }
    @media only screen and (min-width: 768px) {
      .shout-inner h2 {
        font-size: 1.4em; } }
    @media only screen and (min-width: 1025px) {
      .shout-inner h2 {
        font-size: 1.5em; } }
  .shout-inner .line-link p {
    font-size: 1em; }

.--top-margin {
  margin-top: 6rem; }
  @media only screen and (min-width: 768px) {
    .--top-margin {
      margin-top: 8rem; } }

.para {
  margin-bottom: 2rem;
  position: relative; }
  .para p {
    display: inline-block;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.75rem !important;
    font-weight: 700;
    line-height: 1.1 !important; }
    @media only screen and (min-width: 768px) {
      .para p {
        font-size: 2.5em !important; } }
    @media only screen and (min-width: 1025px) {
      .para p {
        font-size: 3.5em !important; } }
    .para p strong {
      display: inline-block;
      position: relative;
      transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s; }
    .para p strong::before {
      background-color: #E0325F;
      bottom: 0;
      display: block;
      content: '';
      left: 0;
      height: .2em;
      position: absolute;
      transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
      width: 0;
      z-index: -1; }

.next-project {
  margin: 2rem auto;
  max-width: 1240px;
  padding: 0 1rem;
  padding: 0;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .next-project {
      padding: 0 3rem;
      text-align: center; } }
  @media only screen and (min-width: 1025px) {
    .next-project {
      padding: 0 5rem; } }

.gallery-container {
  margin: 0 auto 5rem;
  overflow: auto;
  padding: 7.5rem 0 0;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .gallery-container {
      margin: 0 0 8rem auto;
      padding: 8rem 0 0;
      width: 86%; } }
  @media only screen and (min-width: 1025px) {
    .gallery-container {
      margin: 0 0 10rem auto;
      padding: 10rem 0 0; } }

.--center-gallery {
  margin: -5rem auto 0;
  max-width: 1240px;
  padding: 0 1rem;
  padding: 0;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .--center-gallery {
      margin: 0 auto;
      padding: 0 3rem; } }
  @media only screen and (min-width: 1025px) {
    .--center-gallery {
      padding: 0 5rem; } }

.--responsive .gallery-col {
  column-count: 2;
  column-gap: 1rem;
  width: 100%; }
  @media only screen and (min-width: 1025px) {
    .--responsive .gallery-col {
      column-count: 3; } }

.--responsive .gallery-item {
  display: inline-block;
  display: block;
  margin-bottom: .5rem;
  position: relative;
  transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s; }
  @media only screen and (min-width: 768px) {
    .--responsive .gallery-item {
      margin-bottom: 1rem; } }
  .--responsive .gallery-item .gallery-image {
    display: block;
    height: auto;
    object-fit: cover;
    visibility: hidden;
    width: 100%; }

.gallery-col {
  display: inline-block;
  vertical-align: top;
  width: calc(50% - .25rem); }
  @media only screen and (min-width: 768px) {
    .gallery-col {
      width: calc(50% - .5rem); } }

.col--1 {
  margin-right: .5rem; }
  @media only screen and (min-width: 768px) {
    .col--1 {
      margin-right: 1rem; } }

.gallery-item {
  display: inline-block;
  display: block;
  margin-bottom: .5rem;
  position: relative;
  transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s; }
  @media only screen and (min-width: 768px) {
    .gallery-item {
      margin-bottom: 1rem; } }
  .gallery-item .gallery-image {
    display: block;
    height: auto;
    object-fit: cover;
    visibility: hidden;
    width: 100%; }

.show {
  display: block; }

.filter-group {
  left: 0;
  padding-left: 1rem;
  pointer-events: auto;
  position: absolute;
  top: 3rem;
  z-index: 98;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .filter-group {
      top: 9rem; } }
  @media only screen and (min-width: 1025px) {
    .filter-group {
      top: 10rem; } }

.filter-header {
  align-items: center;
  display: flex;
  pointer-events: auto;
  position: absolute;
  top: 3rem;
  z-index: 99; }
  @media only screen and (min-width: 768px) {
    .filter-header {
      left: 2rem;
      top: 9rem;
      z-index: 98; } }
  @media only screen and (min-width: 1025px) {
    .filter-header {
      left: 2rem; } }
  @media only screen and (min-width: 1025px) {
    .filter-header {
      top: 10rem; } }
  .filter-header p {
    color: #EFEDE5;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase; }
    @media only screen and (min-width: 768px) {
      .filter-header p {
        font-size: 1.2rem; } }
  .filter-header img {
    margin-left: .25rem;
    width: 1em; }
    @media only screen and (min-width: 768px) {
      .filter-header img {
        display: none; } }

.filter-navigation {
  align-items: flex-start;
  background-color: #101219;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  visibility: hidden;
  padding-left: 1rem;
  pointer-events: auto;
  position: absolute;
  transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
  width: 100%;
  z-index: 1; }
  @media only screen and (min-width: 768px) {
    .filter-navigation {
      background-color: transparent;
      height: auto;
      left: 2rem;
      top: 12rem;
      padding: 0;
      visibility: visible;
      transition: none; } }
  @media only screen and (min-width: 1025px) {
    .filter-navigation {
      left: 2rem; } }
  .filter-navigation ul {
    display: block; }
    .filter-navigation ul li {
      display: block;
      margin-left: 0; }
      .filter-navigation ul li a {
        color: #EFEDE5;
        font-family: "Barlow Condensed", sans-serif;
        font-size: 3rem;
        font-weight: 700;
        text-transform: uppercase; }
        @media only screen and (min-width: 768px) {
          .filter-navigation ul li a {
            font-size: 2rem; } }

.show-filter {
  visibility: visible; }
  .show-filter .filter-inner {
    transition: all 500ms cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s; }

.filter-is-showing img {
  transform: rotate(180deg); }

#gallery__filters__message {
  margin-top: 1rem;
  max-width: 85px;
  font-size: .75em; }

.pin-spacer {
  pointer-events: none; }

.images-with-text {
  margin: 2rem auto 8rem;
  max-width: 1240px;
  padding: 0 1rem;
  padding: 0;
  position: relative;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .images-with-text {
      padding: 0 2rem;
      margin: 8rem auto; } }
  @media only screen and (min-width: 1025px) {
    .images-with-text {
      padding: 0 5rem; } }

.big-figure {
  display: block;
  width: 70%; }
  @media only screen and (min-width: 768px) {
    .big-figure {
      display: inline-block;
      width: 50%; } }

.small-figure {
  margin-bottom: 1rem;
  margin-top: -7.5rem;
  margin-left: auto;
  position: relative;
  width: 50%;
  z-index: 0; }
  @media only screen and (min-width: 768px) {
    .small-figure {
      width: 55%;
      margin-top: -12rem; } }
  @media only screen and (min-width: 1025px) {
    .small-figure {
      margin-top: -28rem; } }

.--small-image {
  margin-left: auto;
  width: 38%; }
  @media only screen and (min-width: 768px) {
    .--small-image {
      margin-left: 0;
      margin-top: -8rem;
      left: 46%;
      width: 35%; } }
  @media only screen and (min-width: 1025px) {
    .--small-image {
      margin-left: -3rem;
      margin-top: -25rem;
      left: 52%;
      width: 30%; } }

figcaption {
  font-size: .5em;
  font-weight: 400;
  width: 70%; }
  @media only screen and (min-width: 768px) {
    figcaption {
      font-size: .75em; } }

.images-with-text-inner {
  display: block;
  margin-bottom: 2.5rem; }
  @media only screen and (min-width: 768px) {
    .images-with-text-inner {
      left: calc(50% + 2rem);
      max-width: 415px;
      position: absolute;
      top: 0;
      width: calc(43% - 1rem); } }
  @media only screen and (min-width: 1025px) {
    .images-with-text-inner {
      left: calc(50% + 3rem);
      width: calc(50% - 3rem); } }
  .images-with-text-inner .titel {
    margin-bottom: .5rem; }
  .images-with-text-inner .tekst {
    margin-bottom: 1.5rem; }

.--two {
  overflow: auto; }
  .--two .big-figure {
    display: inline-block;
    width: 38%;
    float: left; }
    @media only screen and (min-width: 768px) {
      .--two .big-figure {
        width: 50%; } }
    @media only screen and (min-width: 1025px) {
      .--two .big-figure {
        width: 20%; } }
  .--two .large-figure {
    display: inline-block;
    width: 60%;
    float: right; }
    @media only screen and (min-width: 768px) {
      .--two .large-figure {
        display: none;
        width: 27%;
        margin-left: .5rem; } }
    @media only screen and (min-width: 1025px) {
      .--two .large-figure {
        display: inline-block;
        width: 40%;
        float: left; } }
  .--two .images-with-text-inner {
    display: inline-block;
    margin-top: 2rem; }
    @media only screen and (min-width: 768px) {
      .--two .images-with-text-inner {
        margin-top: 0; } }
    @media only screen and (min-width: 1025px) {
      .--two .images-with-text-inner {
        left: calc(59% + 3rem);
        margin-top: 0;
        width: calc(32% - 3rem); } }
  .--two figcaption {
    width: 100%; }

.--three {
  margin-top: 7.5rem; }
  @media only screen and (min-width: 768px) {
    .--three {
      margin-top: 8rem; } }
  .--three .images-with-text-inner .para {
    font-size: 75% !important; }
  .--three .images-with-text-inner h1 {
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 1rem; }
    @media only screen and (min-width: 768px) {
      .--three .images-with-text-inner h1 {
        font-size: 1.25em; } }
    @media only screen and (min-width: 1025px) {
      .--three .images-with-text-inner h1 {
        font-size: 1.35em; } }
  .--three .images-with-text-inner h2 {
    font-size: 1.25em;
    font-weight: 400;
    margin-bottom: .5rem; }
    @media only screen and (min-width: 768px) {
      .--three .images-with-text-inner h2 {
        font-size: 1.4em; } }
    @media only screen and (min-width: 1025px) {
      .--three .images-with-text-inner h2 {
        font-size: 1.5em; } }
  @media only screen and (max-width: 414px) {
    .--three .big-figure {
      width: 100%; } }

.video-with-text {
  margin: 2rem auto 8rem;
  max-width: 1240px;
  overflow: auto;
  padding: 0 1rem;
  padding: 0;
  position: relative;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .video-with-text {
      margin: 8rem auto;
      padding: 0 2rem; } }
  @media only screen and (min-width: 1025px) {
    .video-with-text {
      margin: 10rem auto;
      padding: 0 5rem; } }
  .video-with-text .video-frame {
    margin-bottom: .5rem;
    position: relative;
    padding-top: 56.25%; }
    @media only screen and (min-width: 1025px) {
      .video-with-text .video-frame {
        float: right;
        padding-top: 30.25%;
        width: calc(55% - 1rem); } }
    .video-with-text .video-frame #video-thumb:after {
      background-color: black;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      opacity: .25;
      width: 100%; }
  @media only screen and (min-width: 1025px) {
    .video-with-text figcaption {
      float: right;
      width: calc(55% - 1rem); } }

.video-frame-project {
  margin: 2rem auto;
  max-width: 1240px;
  overflow: auto;
  padding-top: 56.25%;
  position: relative;
  width: 100%; }
  .video-frame-project .video-symbol {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4rem; }
  .video-frame-project .full-symbol {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 1.75rem; }
    .video-frame-project .full-symbol:hover {
      cursor: pointer; }

.video-is-playing .video-symbol {
  display: none; }

.video-with-text-inner {
  display: block;
  margin-bottom: 2rem;
  margin-top: 1rem; }
  @media only screen and (min-width: 768px) {
    .video-with-text-inner {
      display: inline-block;
      width: calc(60% - 1rem); } }
  @media only screen and (min-width: 1025px) {
    .video-with-text-inner {
      margin-top: 0;
      max-width: 415px;
      width: calc(45% - 3rem); } }
  .video-with-text-inner .titel {
    margin-bottom: .5rem; }
  .video-with-text-inner .tekst {
    margin-bottom: 1.5rem; }

.images-contact {
  margin: 2rem auto 8rem;
  max-width: 1240px;
  overflow: auto;
  padding: 0 1rem;
  padding: 0;
  position: relative;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .images-contact {
      margin: 4rem auto 8rem;
      padding: 0 2rem; } }
  @media only screen and (min-width: 1025px) {
    .images-contact {
      padding: 0 5rem; } }

.images-contact-inner {
  display: block;
  margin-bottom: 2.5rem;
  margin-top: 2rem; }
  @media only screen and (min-width: 768px) {
    .images-contact-inner {
      display: inline-block;
      margin-bottom: 1rem;
      margin-top: 1rem;
      width: 100%; } }
  @media only screen and (min-width: 1025px) {
    .images-contact-inner {
      display: block;
      float: right;
      margin-left: 2rem;
      margin-top: 1.5rem;
      max-width: 415px;
      width: calc(42.6% - 3rem); } }
  .images-contact-inner .titel {
    margin-bottom: .5rem; }
  .images-contact-inner .tekst {
    margin-bottom: 1.5rem; }

.medarbejder {
  display: inline-block;
  width: calc(50% - .25rem); }
  @media only screen and (min-width: 768px) {
    .medarbejder {
      vertical-align: top; } }
  @media only screen and (min-width: 1025px) {
    .medarbejder {
      width: calc(33.3% - 3rem); } }

.medarbejder-info {
  margin-top: .5rem;
  max-width: 90%; }
  .medarbejder-info p {
    font-size: 1em !important;
    line-height: 1.2;
    margin-top: .5rem;
    margin-bottom: .5rem; }
    .medarbejder-info p:last-child {
      margin-top: 0; }

.--venstre {
  margin-right: .5rem; }

.button-group {
  text-align: center; }

.filter-button-group button {
  background-color: white;
  border: 0;
  padding: .25em 1em;
  margin-right: .5em; }
  .filter-button-group button:last-child {
    margin-right: 0; }
  .filter-button-group button:active {
    outline: 0; }

.filter-button-group .is-checked {
  background-color: #101219;
  color: white; }

.screenshots {
  display: block;
  margin: 1rem auto; }
  @media only screen and (min-width: 768px) {
    .screenshots {
      display: flex;
      margin: 4rem auto; } }
  .screenshots .big-screenshot {
    margin-right: 0; }
    @media only screen and (min-width: 768px) {
      .screenshots .big-screenshot {
        margin-right: 1rem; } }
  .screenshots .small-screenshot {
    margin-right: 0; }
  .screenshots figure img {
    display: block;
    margin-bottom: 2rem; }
    @media only screen and (min-width: 768px) {
      .screenshots figure img {
        margin-bottom: 0; } }

.--reverse-order {
  flex-direction: row-reverse; }
  .--reverse-order .big-screenshot {
    margin-right: 0; }
  .--reverse-order .small-screenshot {
    margin-right: 0; }
    @media only screen and (min-width: 768px) {
      .--reverse-order .small-screenshot {
        margin-right: 1rem; } }
