.main-carousel {

}

.carousel-cell {
  width: 100%; /* full width */
  height: 520px; /* height of carousel */
  overflow: hidden;
  margin-right: 0;

  @media only screen and (min-width: $break-tablet) {
        height: 720px; /* height of carousel */
  }

  img {
      display: block;
  }
}

.flickity-button {
    z-index: 2;
    mix-blend-mode: lighten;
}

.flickity-prev-next-button {
    background-color: white !important;
    height: 2.5em !important;
    width: 2.5em !important;
}
