.carousel-cell {
    //height: 520px; /* height of carousel */
    margin-right: 0;
    overflow: hidden;
    padding-top: 125%;
    width: 100%; /* full width */

    @media only screen and (min-width: $break-tablet) {
        padding-top: 140%;
    }

    img {
        display: block;
    }
}

.flickity-button {
    z-index: 2;
    mix-blend-mode: lighten;
}

.flickity-prev-next-button {
    background-color: white !important;
    height: 2.5em !important;
    width: 2.5em !important;
}
