@media only screen and (min-width: $break-desk) {
    body, iframe {
        cursor: none;
    }

    a:hover {
        cursor: url("../svg/dot.svg") 6 5,auto;
    }

    .cursor {
        background-color: $stoj-sand;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        mix-blend-mode: difference;
        pointer-events: none;
        position: fixed;
        transition: transform 250ms ease;
        transform: translate(-50%, -50%) scale(.22);
        z-index: 100;
        will-change: transform;
    }

    .--expand {
        transform: translate(-50%, -50%) scale(1);
    }
}

.video-frame, .reel-container, .video-frame-project, .video-container {
    iframe {
        pointer-events: none;
    }
}

.cursor-link:hover {
    cursor: url("../svg/dot.svg") 6 5,auto;
}

.video-frame-project:hover, .reel-inner:hover {
    //cursor:  pointer;
    cursor: url("../svg/triangel.svg") 7 8,auto;
    //mix-blend-mode: difference;

    .video-symbol {
        display: none;
    }
}

.video-is-playing:hover {
    //cursor: pointer;
    cursor: url("../svg/pause.svg") 7 8, auto;
    //mix-blend-mode: difference;
}
