.main-footer {
    margin: 150px 0;
    //position: relative;
    z-index: 1;

    .contact-footer, .teaser-footer, .address-footer {
        margin: 0 auto;
        max-width: 540px;
        width: calc(100% - 2rem);

        @media only screen and (min-width: $break-tablet) {
            width: calc(100% - 6rem);
        }
    }

    .contact-footer {
        margin-bottom: 3rem;

        a {
            color: $stoj-sand;
            font-size: 5.25rem;
            font-weight: 700;
            text-transform: none !important;

            @media only screen and (min-width: 321px) {
                font-size: 6.25rem;
            }

            @media only screen and (min-width: 376px) {
                font-size: 7rem;
            }

            @media only screen and (min-width: $break-tablet) {
                font-size: 10rem;
            }

            &:before {
                height: .075em;
            }

            &:after {
                display: none;
            }
        }
    }

    .address-footer {
        p {
            font-family: $family-secondary;
        }
    }

    .teaser-footer {
        margin-bottom: 1rem;

        p {
            a {
                text-transform: none !important;

                &:after {
                    display: none;
                }
            }
        }
    }
}

.copyright {
    bottom: 6rem;
    color: $stoj-sand;
    font-size: .8em;
    left: 1rem;
    position: absolute;
    transform: translateX(0);
    z-index: 98;
    width: fit-content;

    @media only screen and (min-width: $break-tablet) {
        bottom: 2rem;
        font-size: .9em;
        left: 50%;
        transform: translateX(-50%);
    }
}
