$deep-grey: #0F1419;
$almost-black: #090A0D;

.main-footer {
    background-color: white;
    padding: 1em;
    text-align: center;

    @media only screen and (min-width: $break-tablet) {
        padding: 2.5em 1em;
    }

    .bottom-bar {
        display: block;
        margin-bottom: 1em;
        mix-blend-mode: exclusion;
        width: 100%;

        @media only screen and (min-width: $break-tablet) {
            align-items: flex-end;
            display: flex;
            justify-content: space-between;

            .payoff {
                text-align: left;
                margin-bottom: 0;
            }
        }

        .payoff {
            margin-bottom: 3em;
            text-align: center;

            img {
                margin-bottom: .5em;
                width: 8em;
            }
        }

        span {
            color: white;
            display: block;
            font-size: 1em;
            font-weight: 500;
            line-height: 1.3;

            &:first-child {
                font-size: 3em;
                font-weight: 700;
            }
        }

        .some-icons {
            img {
                height: 1.4em;
                margin-right: 1.5em;
                width: auto;
            }

            a {
                &:last-child {
                    img {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 768px) {
        padding: 5em;
    }

    .copyright {
        color: white;
        opacity: .5;
    }
}
