.gallery {
    //box-sizing: content-box;
    margin: 2em auto;
    min-height: 100vh;
    width: calc(2 * 145px + 10px);

    @media only screen and (min-width: 321px) {
        width: calc(2 * 172px + 10px);
    }

    @media only screen and (min-width: 376px) {
        width: calc(2 * 192px + 10px);
    }

    @media only screen and (min-width: 415px) {
        padding-left: 0;
        width: calc(3 * 243px + 20px);
    }

    @media only screen and (min-width: 769px) {
        width: calc(4 * 243px + 30px);
    }

    @media only screen and (min-width: 1307px) {
        width: calc(5 * 243px + 40px);
    }

    @media only screen and (min-width: 1600px) {
        width: calc(6 * 243px + 50px);
    }

    @media only screen and (min-width: 1903px) {
        width: calc(7 * 243px + 60px);
    }


    .gallery-item {
        background-color: $stoj-pink;
        border-radius: 6px;
        display: inline-block;
        height: 217px;
        margin-bottom: 10px;
        position: relative;
        width: 145px;

        @media only screen and (min-width: 321px) {
            height: 257px;
            width: 172px;
        }

        @media only screen and (min-width: 376px) {
            height: 287px;
            width: 192px;
        }

        @media only screen and (min-width: 415px) {
            height: 363px;
            width: 243px;
        }

        .gallery-image {
            border-radius: 6px;
            display: block;
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }

    .gallery-item-square {
        height: 145px;

        @media only screen and (min-width: 321px) {
            height: 172px;
            width: 172px;
        }

        @media only screen and (min-width: 376px) {
            height: 192px;
            width: 192px;
        }

        @media only screen and (min-width: 415px) {
            height: 243px;
            width: 243px;
        }
    }

    .gallery-item-wide {
        height: 103px;

        @media only screen and (min-width: 321px) {
            height: 122px;
            width: 172px;
        }

        @media only screen and (min-width: 376px) {
            height: 137px;
            width: 192px;
        }

        @media only screen and (min-width: 415px) {
            height: 173px;
            width: 243px;
        }
    }
}

.gallery-modal {
    background-color: white;
    bottom: 0;
    clip-path: circle(0);
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9;

    .modal-image {
        display: block;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
    }
}
