.gallery {
    //box-sizing: content-box;
    margin: 5em auto;
    max-width: calc(2200px);
    padding-left: 5px;
    width: calc(100% - 10px);

    .gallery-item {
        display: inline-block;
        margin-bottom: 10px;
        position: relative;
        width: calc(50% - 10px);

        @media only screen and (min-width: 415px) {
            width: calc(33.3% - 10px);
        }

        @media only screen and (min-width: 769px) {
            width: calc(25% - 10px);
        }

        @media only screen and (min-width: 1600px) {
            width: calc(20% - 10px);
        }

        .gallery-image {
            display: block;
            object-fit: cover;
            border-radius: 6px;
        }
    }

    .gallery-item-wide {
        @media only screen and (min-width: $break-tablet) {
            width: calc(50% - 10px);
        }

        @media only screen and (min-width: 1600px) {
            width: calc(40% - 10px);
        }
    }
}
