.gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: .5rem;
    margin: 0 auto 5rem;
    //max-width: 1440px;
    //overflow:auto;
    padding: 10rem 0 0;
    //position: relative;
    width: 100%;

    @media only screen and (min-width: $break-tablet) {
        margin: 0 0 8rem auto;
        padding: 8rem 0 0;
        width: 86%;
    }

    @media only screen and (min-width: $break-desk) {
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 0 10rem auto;
        padding: 10rem 0 0;
    }
}

.filter-group {
    left: 0;
    padding-left: 1rem;
    pointer-events: auto;
    position: absolute;
    top: 3rem;
    z-index: 98;
    width: 100%;

    @media only screen and (min-width: $break-tablet) {
        top: 9rem;
    }

    @media only screen and (min-width: $break-desk) {
        top: 10rem;
    }
}

.filter-header {
    align-items: center;
    display: flex;
    pointer-events: auto;
    position: absolute;
    top: 3rem;
    z-index: 99;

    @media only screen and (min-width: $break-tablet) {
        left: 3rem;
        top: 9rem;
        z-index: 98;
    }

    @media only screen and (min-width: $break-desk) {
        top: 10rem;
    }

    p {
        color: $stoj-sand;
        font-family: 'Barlow Condensed', sans-serif !important;
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;

        @media only screen and (min-width: $break-tablet) {
            font-size: 1.2rem;
        }
    }

    img {
        margin-left: .25rem;
        width: 1em;

        @media only screen and (min-width: $break-tablet) {
            display: none
        }
    }
}

.filter-body {
    align-items: flex-start;
    background-color: $stoj-dark;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    left: 0;
    visibility: hidden;
    padding-left: 1rem;
    position: absolute;
    top: -110vh;
    transition: $transition;
    width: 100%;
    z-index: -1;

    @media only screen and (min-width: $break-tablet) {
        background-color: transparent;
        height: auto;
        left: 3rem;
        top: 2rem;
        padding: 0;
        visibility: visible;
        transition: none;
    }

    button {
        background-color: transparent;
        border: none;
        color: $stoj-sand;
        display: block;
        font-family: 'Barlow Condensed', sans-serif !important;
        font-size: 3em;
        font-weight: 700;
        text-transform: uppercase;
        padding: 0;
        position: relative;

        @media only screen and (min-width: $break-tablet) {
            font-size: 1.5rem;
        }

        &:hover {
            color: $stoj-red;
            cursor: pointer;
        }
    }

    button:focus {outline:0;}

    .active::after {
        background-color: $stoj-red;
        bottom: .25rem;
        display: block;
        content: '';
        left: 0;
        height: .5rem;
        position: absolute;
        transition: $transition;
        width: 100%;
        z-index: -1;

        @media only screen and (min-width: $break-tablet) {
            bottom: 0;
        }
    }

    &:after {
        width: 0;
        transition: $transition;
    }
}

.show-filter {
    visibility: visible;
    top: -3rem;
    transition: $transition;
}

.filter-is-showing {
    img {
        transform: rotate(180deg);
    }
}

#gallery__filters__message {
    margin-top: 1rem;
    max-width: 85px;
    font-size: .75em;
}

.gallery-item {
    display: none;
    position: relative;
    transition: $transition;
    visibility: hidden;

    .gallery-image {
        visibility: hidden;
    }
}

.show {
    display: block;
    transition: $transition;
    visibility: visible;
}

.pin-spacer {
    pointer-events: none;
}
