.gallery-container {
    //display: flex;
    //justify-content: space-between;
    margin: 0 auto 5rem;
    overflow: auto;
    padding: 7.5rem 0 0;
    width: 100%;

    @media only screen and (min-width: $break-tablet) {
        margin: 0 0 8rem auto;
        padding: 8rem 0 0;
        width: 86%;
    }

    @media only screen and (min-width: $break-desk) {
        margin: 0 0 10rem auto;
        padding: 10rem 0 0;
    }
}

.--center-gallery {
    margin: -5rem auto 0;
    //visibility:hidden;
    max-width: $max-width;
    padding: 0 1rem;
    padding: 0;
    width: 100%;

    @media only screen and (min-width: $break-tablet) {
        margin: 0 auto;
        padding: 0 3rem;
    }

    @media only screen and (min-width: $break-desk) {
        padding: 0 5rem;
    }
}

.--responsive {

    .gallery-col {
        column-count: 2;
        column-gap: .5rem;
        width: 100%;

        @media only screen and (min-width: $break-desk) {
            column-count: 3;
            column-gap: 1rem;
        }
    }

    .gallery-item {
        display: inline-block;
        display: block;
        margin-bottom: .5rem;
        position: relative;
        transition: $transition;

        @media only screen and (min-width: $break-tablet) {
            margin-bottom: 1rem;
        }

        .gallery-image {
            display: block;
            height: auto;
            object-fit: cover;
            visibility: hidden;
            width: 100%;
        }
    }
}

.gallery-col {
    display: inline-block;
    vertical-align: top;
    width: calc(50% - .25rem);

    @media only screen and (min-width: $break-tablet) {
        width: calc(50% - .5rem);
    }
}

.col--1 {
    margin-right: .5rem;

    @media only screen and (min-width: $break-tablet) {
        margin-right: 1rem;
    }
}

.gallery-item {
    display: inline-block;
    display: block;
    margin-bottom: .5rem;
    position: relative;
    transition: $transition;

    @media only screen and (min-width: $break-tablet) {
        margin-bottom: 1rem;
    }

    .gallery-image {
        display: block;
        height: auto;
        object-fit: cover;
        visibility: hidden;
        width: 100%;
    }
}

.show {
    display: block;
}

.filter-group {
    left: 0;
    padding-left: 1rem;
    pointer-events: auto;
    position: absolute;
    top: 3rem;
    z-index: 98;
    width: 100%;

    @media only screen and (min-width: $break-tablet) {
        top: 9rem;
    }

    @media only screen and (min-width: $break-desk) {
        top: 10rem;
    }
}

.filter-header {
    align-items: center;
    display: flex;
    pointer-events: auto;
    position: absolute;
    top: 3rem;
    z-index: 99;

    @media only screen and (min-width: $break-tablet) {
        left: 2rem;
        top: 9rem;
        z-index: 98;
    }

    @media only screen and (min-width: $break-desk) {
        left: 2rem;
    }

    @media only screen and (min-width: $break-desk) {
        top: 10rem;
    }

    p {
        color: $stoj-sand;
        font-family: $family-secondary;
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;

        @media only screen and (min-width: $break-tablet) {
            font-size: 1.2rem;
        }
    }

    img {
        margin-left: .25rem;
        width: 1em;

        @media only screen and (min-width: $break-tablet) {
            display: none
        }
    }
}

.filter-navigation {
    align-items: flex-start;
    background-color: $stoj-dark;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    left: 0;
    visibility: hidden;
    padding-left: 1rem;
    pointer-events: auto;
    position: absolute;
    transition: $transition;
    width: 100%;
    z-index: 1;

    @media only screen and (min-width: $break-tablet) {
        background-color: transparent;
        height: auto;
        left: 2rem;
        top: 12rem;
        padding: 0;
        visibility: visible;
        transition: none;
    }

    @media only screen and (min-width: $break-desk) {
        left: 2rem;
    }

    ul {
        display: block;

        li {
            display: block;
            margin-left: 0;

            a {
                color: $stoj-sand;
                font-family: $family-secondary;
                font-size: 3rem;
                font-weight: 700;
                text-transform: uppercase;

                @media only screen and (min-width: $break-tablet) {
                    font-size: 2rem;
                }
            }
        }
    }
}

.show-filter {
    visibility: visible;
    .filter-inner {
        //visibility: visible;
        transition: $transition;
    }
}

.filter-is-showing {
    img {
        transform: rotate(180deg);
    }
}

#gallery__filters__message {
    margin-top: 1rem;
    max-width: 85px;
    font-size: .75em;
}

.pin-spacer {
    pointer-events: none;
}
