html {
    //background-color: white !important;
}

body {
    background-color: white;
    //background-color: #fafafa !important;
    //cursor: url(../svg/logo.svg), auto;
    font-family: "MADE" !important;
    position: relative;
    z-index: 0;

    p {
        color: $almost-black;
    }
}


.main {
    background-color: white;
    background-color: #ffffffcc;
    position: relative;
    z-index: 0;

    &:before {
        background-image: url(../assets/noise.png);
        background-repeat: repeat;
        content: '';
        height: 100%;
        left: 0;
        mix-blend-mode: soft-light;
        opacity: .2;
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
    }

    div {
        z-index: 1;
    }
}

.stoj-link {
    color:$almost-black;
    display: table;
    font-weight: 500;
    font-size: 1em;
    margin-top: 1em;

    p {
        color:$almost-black;
    }

    &:after {
        animation-timing-function: ease-out;
        background-color: $deep-grey;
        content: '';
        display: block;
        height: .1em;
        transition: .2s;
        transition-delay: .1s;
        width: 100%;
    }

    &:hover p {
        //color: $stoj-yellow;
    }
}

.stoj-link:hover {
    &:after {
        width: 0%;
    }
}
