html {
    background-color: white !important;
}

body {
    background-color: white !important;
    font-family: "MADE" !important;

    p {
        color: $deep-grey;
    }
}

.main {
    background-color: white !important;
    position: relative;
    z-index: 0;

    &:before {
        background-image: url(../assets/noise.png);
        background-repeat: repeat;
        content: '';
        height: 100%;
        left: 0;
        mix-blend-mode: soft-light;
        opacity: .15;
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    div {
        z-index: 1;
    }
}
