html {
    background-color: $stoj-dark !important;
    min-height: 100%;
}

body {
    //background-color: white;
    background-color: $stoj-dark;
    min-height: 100%;
    //background-color: #fafafa !important;
    //cursor: url(../svg/logo.svg), auto;
    //font-family: "MADE" !important;
    font-family: 'Barlow', sans-serif !important;
    overflow-x: hidden;
    position: relative;
    z-index: 0;
    width: 100%;
}

main {
    padding: 0 1em;

    @media only screen and (min-width: $break-mobile) {
        padding: 0 3em;
    }
}
