$stoj-yellow: #FFE300;
$eb: "EB Garamond", serif;

.main-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    left: 0;
    mix-blend-mode: exclusion;
    position: fixed;
    padding: 1em;
    top: 0;
    transform: translate3d(0, 0, 0);
    width: 100vw;
    z-index: 99;

    @media only screen and (min-width: 768px) {
        margin: 0 auto;
        //max-width: 1600px;
        padding: 2em 3em;
    }

    @media only screen and (min-width: 1600px) {
        //left: 50%;
        //transform: translateX(-50%);
    }

    .logo {
        display: block;
        overflow: hidden;
        width: 6em;

        @media only screen and (min-width: 768px) {
            width: 7em;
        }

        img {
            width: 100%;
        }
    }

    .menu {
        align-items: center;
        display: flex;
        overflow: hidden;

        .menu-items {
            display: none;

            ul {
                li {
                    a {
                        color: white;
                        font-weight: 500;
                        font-size: 1em;
                        text-transform: uppercase;

                        &:after {
                            animation-timing-function: ease-out;
                            background-color: white;
                            content: '';
                            display: block;
                            height: .1em;
                            transition: .3s;
                            transition-delay: .1s;
                            width: 0;
                        }
                    }

                    a:hover {
                        &:after {
                            width: 100%;
                        }
                    }
                }
            }

            @media only screen and (min-width: 768px) {
                display: block;

                ul {
                    li {
                        display: inline-block;
                        margin-right: 2em;

                        &:hover {
                            a {
                                //color: $stoj-yellow;
                            }
                        }

                        &:last-child {
                            //margin-right: 0;
                        }
                    }
                }
            }
        }
        .menu-btn {
            display: block;
            mix-blend-mode: exclusion;

            @media only screen and (min-width: 768px) {
                //display: none;
            }

            span {
                background-color: white;
                display: block;
                height: .175em;
                margin: .35em 0 0 auto;
                width: 2.75em;

                &:first-child {
                    margin-top: 0;
                }

                &:hover {
                    //background-color: $stoj-yellow;
                }

/*
                &:first-child {
                    margin-top: 0;
                    width: 30px;
                }
*/
            }
        }
    }
}

.bottom-bar {
    align-items: center;
    bottom: 1em;
    display: flex;
    justify-content: space-between;
    left: 1em;
    mix-blend-mode: exclusion;
    position: fixed;
    padding: 0;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    width: calc(100vw - 2em);
    z-index: 99;

    @media only screen and (min-width: 768px) {
        bottom: 2em;
        left: 3em;
        width: calc(100vw - 6em);
    }

    .header-social {
        align-items: center;
        display: flex;
        mix-blend-mode: exclusion;
        transform: translateY(0);

        a img {
            width: 1.75em;
            margin-right: 1em;
        }

        span {
            background-color: white;
            content: '';
            height: .125em;
            margin-right: 1em;
            width: 1em;

    //        @media only screen and (max-width: 414px) {
                display: none;
    //        }
        }

        p {
            color: white;
            font-weight: 500;

    //        @media only screen and (max-width: 414px) {
                display: none;
    //        }
        }
    }

    .contact-btn {
        display: block;
        mix-blend-mode: exclusion;
        transform: translateY(0);
        z-index: 99999;

        a {
            button {
                background-color: white;
                border: none;
                border-radius: 3px;
                font-size: 1em;
                font-weight: 700;
                padding: .5em 2.5em;
                text-transform: uppercase;
                transform: scale(1);
                transition: .1s;
                transition-timing-function: ease-out;
                transition-delay: .1s;
                will-change: transform;
                //color: white;

                &:hover {
                    //background-color: $stoj-yellow;
                    //cursor: pointer;
                    transform: scale(1.1);
                    transition: .1s;
                    transition-timing-function: ease-out;
                    transition-delay: .1s;
                    will-change: transform;
                }
            }
        }
    }

}


.hide {
    .menu-items, .menu-btn, .logo-svg, .contact-btn, .header-social {
        mix-blend-mode: exclusion;
        transform: translateY(45px);
        transition: 1s;
        opacity: .25;
    }

    &:nth-child(1) {transition-delay: 0s;}
    &:nth-child(2) {transition-delay: .1s;}
    &:nth-child(3) {transition-delay: .2s;}
    &:nth-child(4) {transition-delay: .3s;}
}

.show {
    .menu-items, .menu-btn, .logo-svg, .contact-btn, .header-social {
        mix-blend-mode: exclusion;
        transition: 1s;
        transform: translateY(0);
    }

    &:nth-child(1) {transition-delay: 0s;}
    &:nth-child(2) {transition-delay: .1s;}
    &:nth-child(3) {transition-delay: .2s;}
    &:nth-child(4) {transition-delay: .3s;}
}

.deep-grey-gradient {
    background: rgb(15,20,25);
    background: linear-gradient(0deg, rgba(15,20,25,1) 0%, rgba(15,20,25,0) 100%);
}

.almost-black-gradient {
    background: rgb(9,10,13);
    background: linear-gradient(0deg, rgba(9,10,13,1) 0%, rgba(9,10,13,0) 90%);
}


.almost-black-gradient {
    background: rgb(15,20,25);
    background: linear-gradient(0deg, rgba(15,20,25,1) 0%, rgba(15,20,25,0) 100%);
}
