.main-header {
    align-items: flex-start;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    display: flex;
    height: 100%;
    justify-content: space-between;
    left: 0;
    //mix-blend-mode: exclusion;
    padding: 1em;
    pointer-events: none;
    position: fixed;
    top: 0;
    transform: translateY(0);
    width: 100vw;
    will-change: transform;
    z-index: 99;

    @media only screen and (min-width: $break-mobile) {
        margin: 0 auto;
        //max-width: 1600px;
        padding: 2em;
    }

    @media only screen and (min-width: $break-desk) {
        margin: 0 auto;
        //max-width: 1600px;
        padding: 1em 2em;
    }

    .logo {
        display: none;
        fill: $stoj-sand;
        overflow: hidden;
        pointer-events: auto;
        z-index: 1;

        @media only screen and (min-width: $break-mobile) {
            -webkit-backface-visibility: visible;
            backface-visibility: visible;
            display: block;
            width: 7em;
        }

        img {
            width: 100%;
        }
    }
}

.navigation {
    display: flex;
    justify-content: space-between;
    pointer-events: auto;
    width: 100%;
    z-index: 1;

    @media only screen and (min-width: $break-mobile) {
        display: block;
        width: auto;
    }

    li {
        @media only screen and (min-width: $break-mobile) {
            display: inline-block;

            &:first-child {
                margin-left: 0;
            }

            margin-left: 2em;
        }

        a {
            color: $stoj-sand;
            font-family: $family-secondary;
            font-size: 1.2rem;
            font-weight: 700;
            text-transform: uppercase;

            @media only screen and (min-width: 375px) {
                font-size: 1.35rem;
            }

            @media only screen and (min-width: $break-tablet) {
                font-size: 1.5rem;
            }

            &:hover {
                color: $stoj-sand !important;
            }
        }
    }

    .navigation-item--state-current {
        a {
            color: $stoj-red !important;
        }
    }
}

.social-links {
    bottom: 2em;
    display: flex;
    left: 1em;
    pointer-events: auto;
    position: absolute;
    z-index: 1;

    @media only screen and (min-width: $break-mobile) {
        left: 2em;
    }

    @media only screen and (min-width: $break-desk) {
        bottom: 1em;
    }

    a {
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
        }

        img {
            height: 1.2rem;
            width: 1.2rem;

            @media only screen and (min-width: 375px) {
                height: 1.35rem;
                width: 1.35rem;
            }

            @media only screen and (min-width: $break-tablet) {
                height: 1.5rem;
                width: 1.5rem;
            }
        }
    }
}

.kontakt--cta {
    bottom: 2em;
    right: 1em;
    pointer-events: auto;
    position: absolute;
    z-index: 1;

    @media only screen and (min-width: $break-mobile) {
        right: 2em;
    }

    @media only screen and (min-width: $break-desk) {
        bottom: 1em;
    }

    a {
        color: $stoj-sand;
        font-family: $family-secondary;
        font-size: 1.2rem;
        font-weight: 700;
        text-transform: uppercase;

        @media only screen and (min-width: 375px) {
            font-size: 1.35rem;
        }

        @media only screen and (min-width: $break-tablet) {
            font-size: 1.5rem;
        }

        &:hover {
            color: $stoj-sand !important;
        }
    }
}

.gradient {
    display: block;
    height: 10rem;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 0;

    @media only screen and (min-width: $break-tablet) {
        height: 8rem;
    }

    @media only screen and (min-width: $break-desk) {
        height: 4rem;
    }
}

.--top {
    background: rgb(16,18,25);
    background: linear-gradient(0deg, rgba(16,18,25,0) 0%, rgba(16,18,25,0) 4%, rgba(16,18,25,1) 95%, rgba(16,18,25,1) 100%);
    top: 0;
}

.--bottom {
    background: rgb(16,18,25);
    background: linear-gradient(180deg, rgba(16,18,25,0) 0%, rgba(16,18,25,0) 4%, rgba(16,18,25,1) 95%, rgba(16,18,25,1) 100%);
    bottom: 0;
}

.on-frontpage {
    ul li:first-child a {
        color: $stoj-red !important;
    }
}
