.images-with-text {
    margin: 5rem auto;
    max-width: $max-width;
    padding: 0 1rem;
    position: relative;
    width: 100%;

    @media only screen and (min-width: $break-tablet) {
        padding: 0 2rem;
    }

    @media only screen and (min-width: $break-desk) {
        padding: 0 5rem;
    }
}

.big-figure {
    display: block;
    width: 70%;

    @media only screen and (min-width: $break-tablet) {
        display: inline-block;
        width: 50%;
    }
}

.small-figure {
    //float: right;
    margin-bottom: 1rem;
    margin-top: -7.5rem;
    margin-left: auto;
    position: relative;
    width: 50%;
    z-index: 1;

    @media only screen and (min-width: $break-tablet) {
        width: 55%;
        margin-top: -12rem;
    }

    @media only screen and (min-width: $break-desk) {
        margin-top: -28rem;
    }
}

.--small-image {
    margin-left: auto;
    width: 38%;

    @media only screen and (min-width: $break-tablet) {
        margin-left: 0;
        margin-top: -8rem;
        left: 46%;
        width: 35%;
    }

    @media only screen and (min-width: $break-desk) {
        margin-left: -3rem;
        margin-top: -25rem;
        left: 52%;
        width: 30%;
    }
}

figcaption {
    font-size: .5em;
    font-weight: 400;
    width: 70%;

    @media only screen and (min-width: $break-tablet) {
        font-size: .75em;
    }
}

.images-with-text-inner {
    display: block;
    margin-bottom: 2.5rem;
    //visibility: hidden;
    //transform-origin: top;

    @media only screen and (min-width: $break-tablet) {
        left: calc(50% + 2rem);
        max-width: 415px;
        position: absolute;
        //top: 2rem;
        top: 0;
        width: calc(43% - 1rem);
    }

    @media only screen and (min-width: $break-desk) {
        left: calc(50% + 3rem);
        //top: 3rem;
        width: calc(50% - 3rem);
    }

    .titel {
        margin-bottom: .5rem;
    }

    .tekst {
        margin-bottom: 1.5rem;
    }
}

.--two {
    overflow: auto;
    .big-figure {
        display: inline-block;
        width: 38%;
        float: left;

        @media only screen and (min-width: $break-tablet) {
            width: 50%;
            //display: none;
        }

        @media only screen and (min-width: $break-desk) {
            //display: inline-block;
            width: 20%;
        }
    }

    .large-figure {
        display: inline-block;
        width: 60%;
        float: right;

        @media only screen and (min-width: $break-tablet) {
            display: none;
            width: 27%;
            //float: left;
            margin-left: .5rem;
        }

        @media only screen and (min-width: $break-desk) {
            display: inline-block;
            width: 40%;
            float: left;
        }
    }

    .images-with-text-inner {
        display: inline-block;
        margin-top: 2rem;

        @media only screen and (min-width: $break-tablet) {
            margin-top: 0;
        }

        @media only screen and (min-width: $break-desk) {
            left: calc(59% + 3rem);
            margin-top: 0;
            width: calc(32% - 3rem);
        }
    }

    figcaption {
        width: 100%;
    }
}

.--three {
    margin-top: 7.5rem;

    @media only screen and (min-width: $break-tablet) {
        margin-top: 8rem;
    }

    @media only screen and (min-width: $break-desk) {
        //margin-top: 12rem;
    }

    .images-with-text-inner {
        .para {
            font-size: 75% !important;
        }

        h1 {
            font-size: 1.2em;
            font-weight: 400;
            margin-bottom: 1rem;

            @media only screen and (min-width: $break-tablet) {
                font-size: 1.25em;
            }

            @media only screen and (min-width: $break-desk) {
                font-size: 1.35em;
            }
        }

        h2 {
            font-size: 1.25em;
            font-weight: 400;
            margin-bottom: .5rem;

            @media only screen and (min-width: $break-tablet) {
                font-size: 1.4em;
            }

            @media only screen and (min-width: $break-desk) {
                font-size: 1.5em;
            }
        }
    }

    @media only screen and (max-width: $break-mobile) {
        .big-figure {
            width: 100%;
        }
    }
}
