.images-contact {
    margin: 2rem auto 8rem;
    //visibility:hidden;
    max-width: $max-width;
    overflow:auto;
    padding: 0 1rem;
    padding: 0;
    position: relative;
    width: 100%;

    @media only screen and (min-width: $break-tablet) {
        margin: 4rem auto 8rem;
        padding: 0 2rem;
    }

    @media only screen and (min-width: $break-desk) {
        //margin: 10rem auto;
        padding: 0 5rem;
    }
}

.images-contact-inner {
    display: block;
    margin-bottom: 2.5rem;
    margin-top: 2rem;

    @media only screen and (min-width: $break-tablet) {
        display: inline-block;
        //margin-left: 1rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        width: 100%;
    }

    @media only screen and (min-width: $break-desk) {
        display: block;
        float: right;
        margin-left: 2rem;
        margin-top: 1.5rem;
        max-width: 415px;
        width: calc(42.6% - 3rem);
    }

    .titel {
        margin-bottom: .5rem;
    }

    .tekst {
        margin-bottom: 1.5rem;
    }
}

.medarbejder {
    display: inline-block;
    width: calc(50% - .25rem);

    @media only screen and (min-width: $break-tablet) {
        vertical-align: top;
    }

    @media only screen and (min-width: $break-desk) {
        width: calc(33.3% - 3rem);
    }
}

.medarbejder-info {
    margin-top: .5rem;
    max-width: 90%;

    p {
        font-size: 1em !important;
        line-height: 1.2;
        margin-top: .5rem;
        margin-bottom: .5rem;

        &:last-child {
            margin-top: 0;
        }
    }
}

.--venstre {
    margin-right: .5rem;
}
