.lock-scroll {
    //overflow:auto;
    //height: 100vh;
    //-webkit-overflow-scrolling: touch;
}

.menu-body {
    align-items: center;
    background-color: $stoj-pink;
    clip-path: circle(0% at calc(100% - 2em) 3em);
    display: flex;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    position: fixed;
    top: 0;
    left: 0;
    //visibility: hidden;
    width: 100%;
    z-index: 99;
    pointer-events: none;

    &:before {
        background-image: url(../assets/noise.png);
        background-repeat: repeat;
        content: '';
        height: 100%;
        left: 0;
        mix-blend-mode: soft-light;
        opacity: .25;
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 100%;
    }

    @media only screen and (min-width: $break-desk) {
        align-items: center;
        display: flex;
        height: 100vh;
    }

    .logo {
        display: block;
        left: 1em;
        mix-blend-mode: exclusion;
        position: absolute;
        overflow: hidden;
        top: 1em;
        width: 6em;
        z-index: 9;

        @media only screen and (min-width: 768px) {
            left: 3em;
            top: 2em;
            width: 7em;
        }

        img {
            width: 100%;
        }
    }

    .menu-image {
        display: none;
        z-index: 1;

        @media only screen and (min-width: $break-desk) {
            display: block;
            flex: 1;
            height: 100%;
            position: relative;
            max-width: 50%;

            img {
                bottom: 0;
                height: 100%;
                left: 0;
                object-fit: cover;
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
            }
        }
    }

    .menu-content {
        mix-blend-mode: exclusion;
        padding: 1em;
        width: 100%;

        @media only screen and (min-width: $break-desk) {
            display: block;
            flex: 1;
            //height: 100%;
            padding: 1em 4em;
            position: relative;
            max-width: 50%;
        }

        ul {
            li {
                a {
                    animation-fill-mode: both;
                    display: table;
                    color: white;
                    font-size: $clamp;
                    font-weight: 600;
                    line-height: 1;
                    margin-bottom: .25em;

                    &:after {
                        animation-fill-mode: both;
                        animation-timing-function: ease-out;
                        background-color: white;
                        content: '';
                        display: block;
                        height: .1em;
                        transition: .3s;
                        transition-delay: .1s;
                        width: 0;
                    }
                }

                a:hover {
                    &:after {
                        width: 100%;
                    }
                }
            }
        }
    }

    .menu-btn {
        display: block;
        height: 2em;
        mix-blend-mode: exclusion;
        position: absolute;
        right: 1em;
        top: 1em;
        width: 2em;

        @media only screen and (min-width: 768px) {
            height: 2.75em;
            right: 3em;
            top: 2em;
            width: 2.75em;
        }

        span {
            background-color: white;
            display: block;
            height: .175em;
            left: 0;
            //margin: .35em 0 0 auto;
            position: absolute;
            top: 50%;
            width: 2em;

            @media only screen and (min-width: 768px) {
                height: .175em;
                width: 2.75em;
            }

            &:first-child {
                transform: rotate(-45deg);
            }

            &:last-child {
                transform: rotate(45deg);
            }
        }
    }
}
