.project-section-two {
    background-color: white;
    display: block;
    padding: .5em 1em 4em;
    position: relative;

    @media only screen and (min-width: $break-tablet) {
        margin: 0 auto;
        max-width: 1440px;
        padding: 5em 1em;
    }

    @media only screen and (min-width: $break-desk) {
        padding: 5em 2em;
    }

    .project-section-two-image-container {
        display: block;
        width: 100%;

        @media only screen and (min-width: $break-tablet) {
            display: inline-block;
            margin-right: 1em;
            vertical-align: top;
            width: calc(64% - 1em);
        }

        @media only screen and (min-width: $break-desk) {
            margin-right: 1em;
            width: calc(64% - 1em);
        }

        .project-section-two-image {
            width: 100%;
        }
    }

    .project-section-two-images {
        display: block;
        padding-top: .5em;
        width: 100%;

        @media only screen and (min-width: $break-tablet) {
            display: inline-block;
            margin-left: 1.5em;
            padding-top: 0;
            vertical-align: top;
            width: calc(36% - 1.5em);
        }

        @media only screen and (min-width: $break-desk) {
            margin-left: 1.5em;
            width: calc(36% - 1.5em);
        }

        .project-section-two-images-wrapper {
            display: block;
            margin-bottom: 1em;
            padding-top: 130%;
            position: relative;

            .project-section-two-image-one, .project-section-two-image-two {
                bottom: 0;
                left: 0;
                height: 100%;
                object-fit: cover;
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
            }
        }

        p {
            margin-bottom: 4em;
        }
    }
}

.project-section-three, .project-video-section-three, .project-video-section-four {
    background-color: white;
    display: block;
    padding: .5em 1em .5em;
    position: relative;

    @media only screen and (min-width: $break-tablet) {
        margin: 0 auto;
        max-width: 1440px;
        padding: 5em 1em;
    }

    @media only screen and (min-width: $break-desk) {
        padding: 5em 2em;
    }

    .project-section-three-image-container {
        display: block;
        margin-bottom: 1em;
        padding-top: 140%;
        position: relative;
        width: 100%;

        &:last-child {
            margin-bottom: 0;
            padding-top: 62%;
        }

        @media only screen and (min-width: $break-tablet) {
            display: inline-block;
            margin-left: 1em;
            margin-bottom: 0;
            padding-top: 52.6%;
            position: relative;
            vertical-align: top;
            width: calc(64% - 1em);

            &:last-child {
                padding-top: 52.6%;
            }

            &:first-child {
                margin-left: 0;
                margin-right: 1em;
                width: calc(36% - 1em);
            }
        }

        .project-section-three-image, .project-section-three-small-image {
            bottom: 0;
            left: 0;
            height: 100%;
            object-fit: cover;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
        }
    }
}

.project-video-section-three {
    .project-section-three-image-container {
        padding-top: 110%;

        @media only screen and (min-width: $break-tablet) {
            padding-top: 34.6%;

            &:last-child {
                padding-top: 34.6%;
            }
        }
    }
}

.project-video-section-four {
    .project-section-three-image-container {
        padding-top: 110%;

        @media only screen and (min-width: $break-tablet) {
            margin-left: 1em;
            padding-top: 34.6%;
            width: calc(36% - 1em);

            &:last-child {
                padding-top: 34.6%;
            }

            &:first-child {
                margin-left: 0;
                margin-right: 1em;
                width: calc(64% - 1em);
            }
        }
    }
}

.project-video-section-two {
    background-color: white;
    display: block;
    padding: .5em 1em .5em;
    position: relative;

    @media only screen and (min-width: $break-tablet) {
        margin: 0 auto;
        max-width: 1440px;
        padding: 5em 1em;
    }

    @media only screen and (min-width: $break-desk) {
        padding: 5em 2em;
    }

    .project-video-section-two-image-container {
        display: block;
        margin-bottom: 1em;
        padding-top: 55.61%;
        position: relative;
        width: 100%;

        @media only screen and (min-width: $break-tablet) {
            display: inline-block;
            margin-right: 1em;
            margin-bottom: 0;
            padding-top: 34.61%;
            position: relative;
            vertical-align: top;
            width: calc(55% - 1em);
        }
    }

    .project-video-section-text {
        display: block;

        @media only screen and (min-width: $break-tablet) {
            display: inline-block;
            margin-left: 1em;
            margin-bottom: 0;
            position: relative;
            vertical-align: top;
            width: calc(45% - 1em);
        }

        .project-video-section-two-small-image {
            display: block;
            margin-bottom: 2em;
            width: 100%;
        }
    }

    .project-video-section-two-image {
        bottom: 0;
        left: 0;
        height: 100%;
        object-fit: cover;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }
}
