.project-landing {
    background-color: white;
    display: block;
    padding: 4em 1em .5em;
    position: relative;

    @media only screen and (min-width: $break-tablet) {
        margin: 0 auto;
        max-width: 1440px;
        padding: 0 1em 2em;
    }

    @media only screen and (min-width: $break-desk) {
        padding: 0 2em 4em;
    }

    .project-landing-image-container {
        display: block;
        width: 100%;

        h1 {
            color: $almost-black;
            font-size: clamp(3em, 4.5vw, 90px);
            font-weight: 600;
            line-height: 1;
            margin-bottom: .5em;
        }

        p {
            font-style: italic;
            opacity: 6;
        }

        @media only screen and (min-width: $break-tablet) {
            display: inline-block;
            margin-right: 1em;
            width: calc(50% - 1em);
        }


        .project-landing-image {
            display: block;
            margin-bottom: 1em;
            width: 100%;
        }
    }

    .project-landing-description {
        display: block;
        margin-top: 4em;
        position: relative;

        @media only screen and (min-width: $break-tablet) {
            display: inline-block;
            margin-top: 10%;
            margin-left: 1em;
            vertical-align: top;
            width: calc(50% - 1em);
        }

        .project-details {
            padding: 1em 0;

            h2 {
                color: $almost-black;
                font-size: 1.75em;
                font-weight: 600;
                margin-bottom: .5em;
            }

            h3 {
                color: $almost-black;
                //color: #e0b43b;
                font-weight: 300;
            }

            p {
                color: $almost-black;
                font-size: 1em;
                font-weight: 400;
                margin-top: 1em;

                @media only screen and (min-width: $break-desk) {
                    font-size: 1.25em;
                }
            }
        }

        .project-description-image-wrapper {
            display: block;
            margin-top: .5em;
            padding-top: 92%;
            position: relative;

            @media only screen and (min-width: $break-tablet) {
                margin-top: 2em;
            }

            .project-description-image {
                bottom: 0;
                left: 0;
                height: 100%;
                object-fit: cover;
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
            }
        }
    }
}

.project-section-two {
    background-color: white;
    display: block;
    padding: .5em 1em 4em;
    position: relative;

    @media only screen and (min-width: $break-tablet) {
        margin: 0 auto;
        max-width: 1440px;
        padding: 5em 1em;
    }

    @media only screen and (min-width: $break-desk) {
        padding: 5em 2em;
    }

    .project-section-two-image-container {
        display: block;
        width: 100%;

        @media only screen and (min-width: $break-tablet) {
            display: inline-block;
            margin-right: 1em;
            vertical-align: top;
            width: calc(64% - 1em);
        }

        @media only screen and (min-width: $break-desk) {
            margin-right: 1em;
            width: calc(64% - 1em);
        }

        .project-section-two-image {
            width: 100%;
        }
    }

    .project-section-two-images {
        display: block;
        padding-top: .5em;
        width: 100%;

        @media only screen and (min-width: $break-tablet) {
            display: inline-block;
            margin-left: 1.5em;
            padding-top: 0;
            vertical-align: top;
            width: calc(36% - 1.5em);
        }

        @media only screen and (min-width: $break-desk) {
            margin-left: 1.5em;
            width: calc(36% - 1.5em);
        }

        .project-section-two-images-wrapper {
            display: block;
            margin-bottom: 1em;
            padding-top: 130%;
            position: relative;

            .project-section-two-image-one, .project-section-two-image-two {
                bottom: 0;
                left: 0;
                height: 100%;
                object-fit: cover;
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
            }
        }

        p {
            margin-bottom: 4em;
        }
    }
}

.project-section-three {
    background-color: white;
    display: block;
    padding: .5em 1em 4em;
    position: relative;

    @media only screen and (min-width: $break-tablet) {
        margin: 0 auto;
        max-width: 1440px;
        padding: 5em 1em;
    }

    @media only screen and (min-width: $break-desk) {
        padding: 5em 2em;
    }

    .project-section-three-image-container {
        display: block;
        margin-bottom: 4em;
        padding-top: 140%;
        position: relative;
        width: 100%;

        &:last-child {
            padding-top: 62%;
        }

        @media only screen and (min-width: $break-tablet) {
            display: inline-block;
            margin-left: 1em;
            margin-bottom: 0;
            padding-top: 52.6%;
            position: relative;
            vertical-align: top;
            width: calc(64% - 1em);

            &:last-child {
                padding-top: 52.6%;
            }

            &:first-child {
                margin-left: 0;
                margin-right: 1em;
                width: calc(36% - 1em);
            }
        }

        .project-section-three-image, .project-section-three-small-image {
            bottom: 0;
            left: 0;
            height: calc(100% - 2em);
            object-fit: cover;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
        }
    }
}
