.project-landing {
    background-color: white;
    display: block;
    padding: 0;
    position: relative;

    @media only screen and (min-width: $break-desk) {
        align-items: center;
        display: flex;
        height: 100vh;
        max-height: 920px;
    }

    .project-landing-image-container {
        display: block;

        @media only screen and (min-width: $break-desk) {
        }

        .project-landing-image {
            display: block;
            width: 100%;
        }
    }

    .project-landing-description {
        display: block;
        mix-blend-mode: exclusion;
        padding: 2em 1em;

        @media only screen and (min-width: $break-desk) {
            flex: 1;
            padding: 2em 3em;
        }

        h1 {
            color: white;
            font-size: 1.75em;
            font-weight: 600;
            line-height: 1.25;
        }

        .project-details {
            padding: 1em 0;

            h2 {
                color: white;
                //color: #e0b43b;
                font-weight: 500;
            }
        }

        p {
            color: white;
        }
    }
}
