.shout {
    margin: 2.5rem auto 0;
    position: relative;
    width: 100%;
}

.shout-inner {
    margin: 0 auto;
    //visibility:hidden;
    max-width: $max-width;
    padding: 0 1rem;
    width: 100%;

    @media only screen and (min-width: $break-tablet) {
        padding: 0 3rem;
    }

    @media only screen and (min-width: $break-desk) {
        padding: 0 5rem;
    }

    h1 {
        font-size: 1.25em;
        margin-bottom: 1rem;

        @media only screen and (min-width: $break-tablet) {
            font-size: 1.4em;
        }

        @media only screen and (min-width: $break-desk) {
            font-size: 1.5em;
        }
    }

    h2 {
        font-size: 1.25em;
        font-weight: 400 !important;
        margin-bottom: .5rem;

        @media only screen and (min-width: $break-tablet) {
            font-size: 1.4em;
        }

        @media only screen and (min-width: $break-desk) {
            font-size: 1.5em;
        }
    }

    .line-link p {
        font-size: 1em !important;
    }
}

.--top-margin {
    margin-top: 7.5rem;

    @media only screen and (min-width: $break-tablet) {
        margin-top: 8rem;
    }

    @media only screen and (min-width: $break-desk) {
        margin-top: 12rem;
    }
}

.para {
    margin-bottom: 2rem;
    position: relative;

    p {
        display: inline-block;
        font-family: 'Barlow Condensed', sans-serif !important;
        font-size: 1.85rem;
        font-weight: 800;
        line-height: 1.1 !important;

        @media only screen and (min-width: $break-tablet) {
            font-size: 2.5em;
        }

        @media only screen and (min-width: $break-desk) {
            font-size: 3.5em;
        }

        strong {
            display: inline-block;
            position: relative;
            transition: $transition;
        }

        strong::after {
            background-color: $stoj-red;
            bottom: 0;
            display: block;
            content: '';
            left: 0;
            height: .5rem;
            position: absolute;
            transition: $transition;
            width: 0;
            z-index: -1;

            @media only screen and (min-width: $break-tablet) {
                bottom: .1rem;
            }
        }
    }
}
