.subheader-body {
    height: 100%;
    min-height: auto;
    position: relative;

    @media only screen and (min-width: $break-tablet) {
        max-height: 920px;
        min-height: $break-height;
    }

    @media only screen and (min-width: $break-desk) {
        height: 100vh;
    }
}

.subheader-inner {
    margin: 6rem auto 0;
    position: relative;
    transform: translate(0);
    width: 100%;

    @media only screen and (min-width: $break-mobile) {
        margin: 10rem auto 0;
    }

    @media only screen and (min-width: $break-tablet) {
        left: 50%;
        margin: 5rem 0 0;
        max-width: $max-width;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 6rem);
        width: 100%;
    }

    @media only screen and (min-width: $break-desk) {
        margin: 0;
    }

    @media only screen and (max-height: $break-height) and (min-width: $break-desk) {
        left: 50%;
        top: 6rem;
        transform: translateX(-50%);
    }
}

.video-body {
    margin: 0 auto;
    visibility:hidden;
    width: calc(100% - 2rem);

    @media only screen and (min-width: $break-mobile) {
        width: calc(100% - 6rem);
    }

    @media only screen and (min-width: $break-desk) {
        width: calc(100% - 10rem);
    }

    .video-container {
        margin: 0 auto;
        padding-top: 56.61%;
        position: relative;
        width: 100%;
        z-index: 0;

        iframe {
            bottom: 0;
            display: block;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 0;
        }
    }
}

.reel-overlay {
    left: 0;
    margin: 0 auto;
    mix-blend-mode: difference;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    visibility:hidden;
    width: 100%;

    img {
        width: 100%;
    }
}

.play--symbol {
    align-items: center;
    display: flex;
    margin-left: 1rem;
    margin-top: 1rem;
    visibility:hidden;

    @media only screen and (min-width: $break-mobile) {
        margin-left: 3rem;
    }

    @media only screen and (min-width: $break-desk) {
        margin-left: 5rem;
    }

    img {
        height: 1.5rem;
        width: 1.5rem;
    }

    a {
        color: $stoj-sand;
        margin-left: .5rem;
        font-weight: 400;
    }

    &:hover {
        cursor: pointer;
    }
}
