.subheader-body {
    height: 100%;
    min-height: auto;
    position: relative;

    @media only screen and (min-width: $break-tablet) {
        max-height: 920px;
        min-height: $break-height;
    }

    @media only screen and (min-width: $break-desk) {
        height: 100vh;
    }
}

.subheader-inner {
    margin: 6rem auto 0;
    position: relative;
    transform: translate(0);
    width: 100%;

    @media only screen and (min-width: $break-mobile) {
        margin: 10rem auto 0;
    }

    @media only screen and (min-width: $break-tablet) {
        left: 50%;
        margin: 5rem 0 0;
        max-width: $max-width;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: calc(100% - 6rem);
        width: 100%;
    }

    @media only screen and (min-width: $break-desk) {
        margin: 0;
    }

    @media only screen and (max-height: $break-height) and (min-width: $break-desk) {
        left: 50%;
        top: 6rem;
        transform: translateX(-50%);
    }
}

.video-body {
    margin: 0 auto;
    visibility:hidden;
    width: calc(100% - 2rem);

    @media only screen and (min-width: $break-mobile) {
        width: calc(100% - 6rem);
    }

    @media only screen and (min-width: $break-desk) {
        width: calc(100% - 10rem);
    }

    .video-container {
        margin: 0 auto;
        padding-top: 56.61%;
        position: relative;
        width: 100%;
        z-index: 0;

        iframe {
            bottom: 0;
            display: block;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 0;
        }
    }
}

.reel-overlay {
    left: 0;
    margin: 0 auto;
    mix-blend-mode: difference;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    visibility:hidden;
    width: 100%;

    img {
        width: 100%;
    }
}

.play--symbol {
    display: inline-block;
    margin-left: 1rem;
    margin-top: 1rem;
    visibility:hidden;

    @media only screen and (min-width: $break-mobile) {
        margin-left: 3rem;
    }

    @media only screen and (min-width: $break-desk) {
        margin-left: 5rem;
    }

    a {
        align-items: center;
        display: flex;
        color: $stoj-sand;
        font-weight: 400 !important;
        text-transform: uppercase;

        img {
            display: inline-block;
            height: 1.5rem;
            margin-right: .5rem;
            width: 1.5rem;
        }
    }

    &:hover {
        cursor: pointer;
    }
}

.reel-container {
    background-color: $stoj-dark;
    height: 100%;
    left: 0;
    padding: 2rem 0;
    position: fixed;
    top: 0;
    transition: .5s;
    width: 100%;
    z-index: 100;

    .reel-inner {
        max-width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        @media only screen and (min-width: 567px) {
            max-width: 75%;
        }

        @media only screen and (min-width: 767px) {
            max-width: 768px;
        }

        @media only screen and (min-width: 769px) {
            max-width: 70%;
        }

        @media only screen and (min-width: 1023px) {
            max-width: 1440px;
        }

        .video-symbol {
            //display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 4rem;
        }
    }

    .close-reel {
        display: block;
        position: absolute;
        height: 3rem;
        top: 2rem;
        right: 2rem;
        width: 3rem;

        &:hover {
            cursor: pointer;
        }

        span {
            background-color: $stoj-sand;
            content: '';
            display: block;
            height: .2rem;
            left: 50%;
            position: absolute;
            top: 50%;
            width: 2.5rem;

            &:first-child {
                transform: translateX(-50%) rotate(-45deg);
            }

            &:last-child {
                transform: translateX(-50%) rotate(45deg);
            }
        }
    }
}
