.subheader-body {
    background-color: $deep-grey;
    //min-height: 100vh;
    padding-bottom: 2em;

    @media only screen and (min-width: $break-desk) {
        padding-bottom: 12em;
    }

    .header-gradient {
        //background: rgb(15,20,25);
        //background: linear-gradient(0deg, rgba(15,20,25,1) 0%, rgba(15,20,25,0) 100%);
        bottom:0;
        display: block;
        height: 20em;
        left: 0;
        //opacity: .9;
        pointer-events: none;
        position: -webkit-sticky;
        position: sticky;
        width:100vw;
        z-index: 9;
    }
}

.frontpage {
    //background-color: $deep-grey;

    .subheader-reel {
        display: block;
        position: relative;
    }

    .reel-container {
        display: block;
        height: 100vh;
        height: -webkit-fill-available;
        min-height: 568px;
        max-height: 920px;
        //padding-top: 6em;
        position: relative;
        z-index: 0;

        @media only screen and (min-width: 769px) {
            height: 58vh;
            margin: 0 auto;
            width: 100%;
        }

        @media only screen and (min-width: 1025px) {
            height: 100vh;
            margin: 0 auto;
            max-width: 1440px;
            width: 80%;
        }

        .video-body {
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%,-50%);
            width: 100%;
        }

        .video-container {
            margin: 0 auto;
            padding-top: 125%;
            width: 100%;
            z-index: 0;

            iframe {
                bottom: 0;
                display: block;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 0;
            }

            @media only screen and (min-width: 450px) {
                padding-top: 56.61%;
                width: 90%;
            }
        }

        .cursor-div {
            width: 100%;
            height: 100%;
            bottom: 0;
            display: block;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
            cursor: none;
        }

        img, video {
            width: 100%;
            z-index: 0;
        }

        #mobile-video {
            display: block;

            @media only screen and (min-width: 450px) {
                display: none;
            }
        }

        #desktop-video {
            display: none;

            @media only screen and (min-width: 450px) {
                display: block;
            }
        }

        .reel-overlay {
            left: 50%;
            mix-blend-mode: exclusion;
            position: absolute;
            top: 50%;
            transform: translate(-50%,-55%);
            width: 90vw;
            z-index: 98;

            img {
                display: block;
            }

            h1 {
                color: white;
                font-size: 10vw;
                font-weight: 700;
                margin-bottom: .3em;
            }

            @media only screen and (min-width: $break-tablet) {
                padding: 0 3em;
                width: 100%;
            }

            @media only screen and (min-width: $break-desk) {
                max-width: 1600px;
                width: 100vw;
                z-index: 98;

                h1 {
                    font-size: 7vw;
                    margin-bottom: 0;
                }
            }

            @media only screen and (min-width: 1600px) {
                h1 {
                    font-size: 7em;
                }
            }
        }
    }

    .reel-text {
        display: block;
        margin: 0 auto;
        max-width: $max-width;
        padding-top: 0;
        position: relative;
        width: calc(100vw - 2em);
        z-index: 5;

        h1 {
            color: white;
            font-size: 1.5em;
            font-weight: 400;
            margin-top: 1em;
            margin-bottom: .5em;
            //text-transform: uppercase;
            //opacity: .8;
        }

        p {
            color: white;
            font-size: 1.8em;
            font-weight: 600;
            line-height: 1.25;
            margin-bottom: 1em;

            &:nth-child(3) {
                font-size: 1.25em;
                font-weight: 300;
            }
        }

        .text-columns {
            column-count: 1;
            //column-gap: 2em;

            @media only screen and (min-width: $break-tablet) {
                column-count: 2;
                column-gap: 2em;
            }
        }

        @media only screen and (min-width: $break-tablet) {
            margin: 0 auto;
            width: 94vw;

            p {
                font-size: 3em;

                &:nth-child(3) {
                    font-weight: 300;
                    font-size: 1.4em;
                    //opacity: .6;
                }
            }
        }

        @media only screen and (min-width: $break-desk) {
            //width: 70vw;
            max-width: $max-width;
        }
    }

    .reel-image {
        display: block;
        margin: 0 auto;
        max-width: $max-width;
        padding: 2em 0;
        position: relative;
        width: calc(100vw - 2em);

        @media only screen and (min-width: $break-tablet) {
            width: 94vw;
        }

        @media only screen and (min-width: $break-desk) {
            margin: 0 auto;
            //width: 70vw;
        }

        img {
            width: 100%;
        }
    }
}

.subheader-content {
    display: block;
    margin: 0 auto;
    width: calc(100vw - 2em);

    @media only screen and (min-width: 769px) {
        width: 80vw;
    }

    h1 {
        color: white;
        font-size: 9.04vw;
        font-weight: 700;
    }

    .subheader-flex {
        display: block;

        img {
            display: block;
            margin-bottom: 1em;
            width: 100%;
        }

        @media only screen and (min-width: 769px) {
            display: flex;
            justify-content: space-between;

            img {
                display: inline-block;
                flex: 1;

                &:first-child {
                    margin-right: 1.5em;
                }

                &:last-child {
                    margin-left: 1.5em;
                }
            }
        }
    }
}

.services-section {
    display: block;
    margin: 4em auto 2em;
    max-width: $max-width;
    width: calc(100% - 2em);

    @media only screen and (min-width: $break-desk) {
        margin: 8em auto 4em;
    }

    .services-text {
        display: block;
        margin-bottom: 2em;
        //margin-top: 2em;

        h2 {
            color: white;
            font-size: 1.25em;
            font-weight: 300;
            margin-bottom: .25em;
        }

        p {
            color: white;
            font-size: 1.75em;
            font-weight: 600;
            margin-bottom: 1em;
            //opacity: .8;

            &:nth-child(3) {
                font-size: 1.25em;
                font-weight: 300;
            }
        }

        .list-btn {
            color: white;
            display: inline-block;
            font-weight: 500;
            margin: 0 .3em 0 0;
            //opacity: .8;
            //text-decoration: underline;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                //cursor: pointer;
            }

            &:after {
                animation-timing-function: ease-out;
                background-color: white;
                content: '';
                display: block;
                height: .1em;
                transition: .3s;
                transition-delay: .1s;
                width: 0;
            }

            &:hover {
                //cursor: pointer;
                &:after {
                    //width: 100%;
                }
            }
        }

        .not-a-service {
            margin-right: .3em;
        }

        .not-a-service.active::after {
            width: 0 !important;
        }

        .active {
            color: $stoj-brun;

            &:after {
                background-color: $stoj-brun;
                width: 100%;
            }
        }

        a {
            //color: $stoj-brun;
            //background-color: white;
            //border-radius: .15em;
            display: inline-block;
            margin-top: 1em;
            //padding: .5em 1.5em;
            //transition: .1s;
            //transition-timing-function: ease-out;
            //transition-delay: .1s;

            &:after {
                animation-timing-function: ease-out;
                background-color: white;
                content: '';
                display: block;
                height: .1em;
                transition: .3s;
                transition-delay: .1s;
                width: 0;
            }

            p {
                //color: white !important;
                font-size: 1em !important;
                margin-bottom: 0 !important;
                //text-transform: uppercase;
            }
        }

        a:hover {
            &:after {
                width: 100%;
            }
        }

        @media only screen and (min-width: $break-tablet) {
            display: inline-block;
            float: left;
            margin-right: 3em;
            width: calc(44% - 2em);
        }
    }

    .services-image-wrapper {
        margin: 0 auto;
        //padding-top: 142%;
        position: relative;
        width: 100%;
        z-index: 1;

        img {
            bottom: 0;
            display: block;
            left: 0;
            height: 100%;
            object-fit: cover;
            object-position: center;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 0;
            width: 100%;
        }

        @media only screen and (min-width: 450px) {
            margin: 0 0 0 auto;
            //padding-top: 75%;
            width: calc(56% - 1em);
        }

        @media only screen and (min-width: $break-tablet) {
            display: inline-block;
        }
    }

    @media only screen and (min-width: $break-tablet) {
        width: 94vw;
    }

    @media only screen and (min-width: $break-desk) {
        //width: 70vw;
    }
}

.services-list {
    z-index: 10;
    color: white;
    display: block;
    //mix-blend-mode: difference;
    //position: absolute;
    bottom: 2em;
    left: -6em;
    text-align: left;

    ul {
        font-family: 'Crimson Text', serif;
        font-size: 1.5em;
        font-weight: 400;

        li {
            //opacity: .6;

            a {
                color: white;
            }

            &:hover {
                //font-weight: 600;
                //cursor: pointer;
                opacity: 1;
                transition: .2s;
                //text-shadow: 0px 0px 15px rgba(255, 255, 255, .5);
            }
        }

        .active-image {
            font-weight: 600;
            opacity: 1;
            transition: .2s;
            //text-shadow: 0px 0px 15px rgba(255, 255, 255, .5);
        }
    }
}

.stoj-link {
    color: $stoj-brun;
    display: inline-block;
    font-size: 1.25em;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 1em;
    //text-transform: uppercase;

    &:after {
        animation-timing-function: ease-out;
        background-color: white;
        content: '';
        display: block;
        height: .1em;
        transition: .3s;
        transition-delay: .1s;
        width: 0;
    }

    p {
        color: $stoj-brun !important;
        font-size: 1em !important;
        margin-bottom: 0 !important;
        //text-transform: uppercase;
    }

    &:hover {
        color: white !important;

        p {
            color: white !important;
        }

        &:after {
            width: 100%;
        }
    }
}
