.project-three {
    margin: 2em auto 2em;
    max-width: $max-width;
    padding: 0;
    width: 100%;

    @media only screen and (min-width: 768px) {
        margin: 8em auto 4em;
        padding: 0;
    }

    .project-three-image {
        display: block;
        margin-bottom: 1em;
        position: relative;
        width: 100%;

        img {
            display: block;
            height: auto;
            object-fit: cover;
            width: 100%;
        }

        @media only screen and (min-width: $break-tablet) {
            display: inline-block;
            padding-top: 80%;
            position: relative;
            width: calc(100% - 3em - 300px);

            &:first-child {
                margin-right: 1em;
            }

            &:last-child {
                margin-left: 1em;
            }

            img {
                bottom: 0;
                display: block;
                height: 100%;
                left: 0;
                object-fit: cover;
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
            }
        }

        @media only screen and (min-width: $break-desk) {
            padding-top: 80%;
            position: relative;
            width: calc(100% - 3em - 380px);
        }
    }

    .project-three-description {
        display: inline-block;
        margin-top: 1em;
        max-width: 380px;

        @media only screen and (min-width: $break-tablet) {
            max-width: 300px;
        }

        @media only screen and (min-width: $break-desk) {
            max-width: 380px;
        }

        @media only screen and (min-width: 768px) {
            float: right;
        }

        h3 {
            //color: white;
            font-weight: 500;
            font-size: 1.5em;
            margin-bottom: .25em;
        }

        p {
            //color: white;
            opacity: .8;
        }
    }
}
