.project-two {
    margin: 2em auto 2em;
    max-width: $max-width;
    padding: 0;
    width: 100%;

    @media only screen and (min-width: 768px) {
        margin: 8em auto 4em;
        padding: 0;
    }

    .project-two-video {
        display: block;
        margin: 0 auto;
        margin-bottom: 1em;
        max-width: 1080px;
        padding-top: 56.25%;
        position: relative;
        width: 100%;

        img, iframe {
            bottom: 0;
            display: block;
            height: 100%;
            left: 0;
            object-fit: cover;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            z-index: 0;
        }

        .cursor-div {
            width: 100%;
            height: 100%;
            bottom: 0;
            display: block;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
            cursor: none;
        }
    }

    .project-two-description {
        margin: 0 auto;
        margin-top: 1em;
        max-width: 1080px;

        h3 {
            //color: white;
            font-weight: 500;
            font-size: 1.5em;
            margin-bottom: .25em;
            max-width: 380px;
        }

        p {
            //color: white;
            max-width: 380px;
            opacity: .8;
        }

        a {
            display: table;
            font-weight: 500;
            font-size: 1em;
            margin-top: 1em;
            max-width: 380px;

            &:after {
                animation-timing-function: ease-out;
                background-color: $deep-grey;
                content: '';
                display: block;
                height: .1em;
                transition: .3s;
                transition-delay: .1s;
                width: 0;
            }

            &:hover p {
                //color: $stoj-yellow;
            }
        }

        a:hover {
            &:after {
                width: 100%;
            }
        }
    }
}
