.project-one {
    margin: 2em auto 2em;
    max-width: $max-width;
    padding: 0;
    width: 100%;

    @media only screen and (min-width: 768px) {
        margin: 4em auto;
        padding: 0;
    }

    .project-one-image {
        display: block;
        margin-bottom: 1em;
        position: relative;
        width: 100%;

        img {
            display: block;
            height: auto;
            object-fit: cover;
            width: 100%;
        }

        @media only screen and (min-width: 768px) {
            display: inline-block;
            padding-top: 70%;
            position: relative;
            width: calc(50% - .5em);

            &:first-child {
                margin-right: 1em;
            }

            img {
                bottom: 0;
                display: block;
                height: 100%;
                left: 0;
                object-fit: cover;
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
            }
        }
    }

    .project-one-description {
        margin-top: 1em;
        max-width: 380px;

        h3 {
            //color: white;
            font-weight: 500;
            font-size: 1.5em;
            margin-bottom: .25em;
        }

        p {
            //color: white;
            opacity: .8;
        }
    }
}
